mixin range-slider
  form(action ="").range-slider__form
    h3.range-slider__amount-of-money Диапазон цены
    input(type="text" class="js-range-slider__input" name="example_name" value="")
  .range-slider__description Стоимость за сутки пребывания в номере