mixin range-slider
  form(action ="").range-slider__form
    .range-slider__amount-of-money
      h3 Диапазон цены
    input(type="text" class="js-range-slider__input" name="example_name" value="")
  .range-slider__description Стоимость за сутки пребывания в номере