mixin calendar-hidden
	input(type="text"  data-range="true" data-multiple-dates-separator=" - " class="datepicker-here" data-position="bottom center")
mixin calendar-open
	div(type="text"  data-range="true" data-multiple-dates-separator=" - " class="datepicker-here" data-position="right top")