div(type="text"  data-range="true" data-multiple-dates-separator=" - " class="datepicker-here" data-position="right top")
input(type="text"  data-range="true" data-multiple-dates-separator=" - " class="datepicker-here" data-position="right top")
