mixin dropdown-examples
	<div class="iqdropdown first-iqdropdown">
		<p class="iqdropdown-selection"></p>
		<div class="iqdropdown-menu">
			<div class="iqdropdown-menu-option" data-id="item1">
				<div>
					<p class="iqdropdown-item bold" data-names="[Спальня, Спальни,Спален]"data-numeral-max="[1, 4, 10]">Спальни</p>
					<p class="iqdropdown-description"></p>
				</div>
			</div>
			<div class="iqdropdown-menu-option" data-id="item2">
				<div>
					<p class="iqdropdown-item bold" data-names="[Кровать, Кровати,Кроватей]" data-numeral-max="[1, 4, 10]">Кровати</p>
					<p class="iqdropdown-description"></p>
				</div>
			</div>
			<div class="iqdropdown-menu-option" data-id="item3">
				<div>
					<p class="iqdropdown-item bold" data-names="[Ванная комната, Ванные комнаты, Ванных комнат]" data-numeral-max="[1, 4, 10]">Ванные комнаты</p>
					<p class="iqdropdown-description"></p>
				</div>
			</div>
		</div>
	</div>
mixin dropdown-people
	<div class="iqdropdown second-iqdropdown">
		<p class="iqdropdown-selection"></p>
		<div class="iqdropdown-menu">
			<div class="iqdropdown-menu-option" data-id="item1">
				<div>
					<p class="iqdropdown-item bold">Взрослые</p>
					<p class="iqdropdown-description"></p>
				</div>
			</div>
			<div class="iqdropdown-menu-option" data-id="item2">
				<div>
					<p class="iqdropdown-item bold">Дети</p>
					<p class="iqdropdown-description"></p>
				</div>
			</div>
			<div class="iqdropdown-menu-option" data-id="item3">
				<div>
					<p class="iqdropdown-item bold">Младенцы</p>
					<p class="iqdropdown-description"></p>
				</div>
			</div>
		</div>
	</div>
mixin dropdown-room-comfort
	<div class="iqdropdown third-iqdropdown">
		<p class="iqdropdown-selection"></p>
		<div class="iqdropdown-menu">
			<div class="iqdropdown-menu-option" data-id="item1">
				<div>
					<p class="iqdropdown-item bold">Взрослые</p>
					<p class="iqdropdown-description"></p>
				</div>
			</div>
			<div class="iqdropdown-menu-option" data-id="item2">
				<div>
					<p class="iqdropdown-item bold">Дети</p>
					<p class="iqdropdown-description"></p>
				</div>
			</div>
			<div class="iqdropdown-menu-option" data-id="item3">
				<div>
					<p class="iqdropdown-item bold">Младенцы</p>
					<p class="iqdropdown-description"></p>
				</div>
			</div>
		</div>
	</div>
//- скрипт подключается, но сам файл не переписался в общую папку, значит проблема в вэбпаке
//- script(type='text/javascript' src='jquery.dropdown-subparagraph-bedroom.js')
//- h3 спальни
//- 	button#dropdown-subparagraph-bedroom-minus -
//- 	#dropdown-subparagraph-bedroom 0
//- 	button#dropdown-subparagraph-bedroom-plus +
//- h3 кровати
//- 	button#dropdown-subparagraph-bed-minus -
//- 	#dropdown-subparagraph-bed 0
//- 	button#dropdown-subparagraph-bed-plus +
//- h3 ванные комнаты
//- 	button#dropdown-subparagraph-bathroom-minus -
//- 	#dropdown-subparagraph-bathroom 0
//- 	button#dropdown-subparagraph-bathroom-plus +
//- button.dropdown-subparagraph-apply
//- 	h3 Применить
//- ИСПОЛЬЗОВАТЬ ДЛЯ ДРОПА <select name="cars" size="4" multiple> https://www.w3schools.com/html/html_form_elements.asp