//- скрипт подключается, но сам файл не переписался в общую папку, значит проблема в вэбпаке
script(type='text/javascript' src='jquery.dropdown-subparagraph-bedroom.js')
h3 спальня
button#dropdown-subparagraph-minus-bedroom -
#dropdown-subparagraph-bedrooms 0
button#dropdown-subparagraph-plus-bedroom +