include ../../elements/button-pill__empty/button-pill__empty_short.pug
include ../../elements/button-pill__full_arrow/button-pill__full_arrow.pug
include ../../elements/checkbox-radio/checkbox-radio.pug
include ../../elements/checkbox-toggle/checkbox-toggle.pug
include ../../elements/form__name/form__name.pug
mixin sign-up
	.sing-up-card
		.sing-up-card-title
			h2 Регистрация аккаунта
		div.sing-up-card-1
			+form__name("text","Имя", "name", "sign-up")
		div.sing-up-card-2
			+form__name("text","Фамилия", "surname", "sign-up")
		div.sing-up-card-3
			+radio-buttons
		div.sing-up-card-4
			h3 Дата рождения
			input(type="text"  data-range="true" data-multiple-dates-separator=" - " class="datepicker-here sign-up-numbers-card-birthday" data-position="right top" value="ДД.ММ.ГГГГ")
		div.sing-up-card-5
			h3 данные для входа в сервис
			div
				+form__name("email","Email", "email", "sign-up")
			div
				+form__name("text", "Пароль", "password", "sign-up")
		.sing-up-card-toggle
				+toggle-checkbox("Получать спецпредложения")
		.sing-up-card-button
				+button-pill__full_arrow("Перейти к оплате")
		.sing-up-card-sing-in
			p Уже есть аккаунт на Toxin
			+button-pill__empty_short("Войти")