.sing-up {
	width: 380px;
	height: 646px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding-left: 30px;
	padding-right: 30px;

	&__title {
		margin-left: -2px;
		margin-top: 43px;
		font-size: 17px;
		letter-spacing: -0.05rem;
	}

	&__name {
		margin-top: 24px;
		margin-left: -3px;
	}

	&__surname {
		margin-top: 8px;
		margin-left: -3px;
	}

	&__gender {
		margin-top: 8px;
		margin-left: -21px;
	}

	&__birthday {
		margin-top: 26px;
	}

	&__birthday_title {
		margin-left: -1px;
	}

	&__pick-date {
		margin-top: 5px;
		height: 44px;
		width: 320px;
		margin-left: -1px;
		padding-left: 15px;
		border-radius: 4px;
		border: 1px solid rgba(0, 0, 0, 0.2);
	}

	&__enter {
		margin-top: 20px;
	}

	&__enter_title {
		margin-left: -1px;
		letter-spacing: 0.007em;
	}

	&__registration {
		margin-top: 5px;
		margin-left: -2px;
	}

	&__toggle-checkbox {
		margin-top: 10px;
	}

	&__button {
		margin-top: 7px;
		margin-left: -1px;
	}

	&__authorization {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 30px;
		margin-left: -1px;
		letter-spacing: -0.01rem;
	}

	&__authorization_text {
		font-size: 14px;
		margin: 0;
	}
}