.sing-up {
  width: 23.75rem;
  height: 40.37rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 0.06rem solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0rem 0rem 1.56rem rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  padding-left: 1.87rem;
  padding-right: 1.87rem;

  &__title {
    margin-left: -0.12rem;
    margin-top: 2.68rem;
    font-size: 1.06rem;
    letter-spacing: -0.05rem;
  }

  &__name {
    margin-top: 1.5rem;
    margin-left: -0.18rem;
  }

  &__surname {
    margin-top: 0.5rem;
    margin-left: -0.18rem;
  }

  &__gender {
    margin-top: 0.5rem;
    margin-left: -1.31rem;
  }

  &__birthday {
    position: relative;
    margin-top: 1.65rem;

    &_title {
      margin-left: -0.06rem;
      letter-spacing: 0.01rem;
    }
  }

  &__pick-date {
    margin-top: 0.3rem;
    height: 2.5rem;
    width: 18.95rem;
    margin-left: -0.06rem;
    padding-left: 0.93rem;
    border-radius: 0.25rem;
    border: 0.06rem solid rgba(0, 0, 0, 0.2);
  }

  &__enter {
    margin-top: 1.25rem;

    &_title {
      margin-left: -0.06rem;
      letter-spacing: 0.007em;
    }
  }

  &__registration {
    margin-top: 0.35rem;
    margin-left: -0.2rem;
    margin-bottom: 0.5rem;
  }

  &__toggle-checkbox {
    margin-top: 0rem;
  }

  &__button {
    margin-top: 1.5rem;
    margin-left: -0.06rem;
  }

  &__authorization {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.87rem;
    margin-left: -0.06rem;
    letter-spacing: -0.01rem;

    &_text {
      font-size: 0.87rem;
      margin: 0;
    }
  }
}
