.iqdropdown {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

.iqdropdown * {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

.iqdropdown *::after,
.iqdropdown *::before {
  box-sizing: inherit;
}

.iqdropdown *:not(input) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.iqdropdown *:focus {
  outline: none;
}

.iqdropdown h1,
.iqdropdown h2,
.iqdropdown h3,
.iqdropdown h4,
.iqdropdown h5,
.iqdropdown h6 {
  margin: 0;
}

.iqdropdown p {
  padding-top: 0;
}

.iqdropdown ul,
.iqdropdown ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.iqdropdown a {
  cursor: pointer;
}

.iqdropdown button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.iqdropdown select::-ms-expand {
  display: none;
}

.iqdropdown input::-ms-clear {
  display: none;
  height: 0;
  width: 0;
}

.iqdropdown .icon-decrement {
  display: inline-block;
  height: 15px;
  margin: auto;
  min-width: 15px;
  position: relative;
  width: 15px;
}

.iqdropdown .icon-decrement::after {
  background: #002674;
  display: block;
  height: 3px;
  position: absolute;
  top: 6px;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  width: 15px;
}

.iqdropdown .icon-decrement.icon-increment::before {
  background: #002674;
  display: block;
  height: 3px;
  position: absolute;
  top: 6px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  width: 15px;
}

.iqdropdown .iqdropdown-menu {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  display: none;
  left: 0;
  margin: -2px -1px -1px;
  position: absolute;
  right: 0;
  top: 42px;
  transition: all 0.2s ease-in-out;
  z-index: 99999;
  padding-bottom: 6px;
  padding-top: 8px;
}

.iqdropdown .iqdropdown-menu-option {
  align-items: center;
  display: flex;
  height: 37px;
  padding-left: 14px;
}

.iqdropdown .iqdropdown-menu-option:last-child {
  border: 0;
}

.iqdropdown .iqdropdown-menu-close {
  color: #002674;
  font-size: 12px;
  height: 20px;
  margin: 20px 0;
  padding: 0 15px;
  text-align: right;
}

.iqdropdown.menu-open .iqdropdown-menu {
  display: block;
  border: 1px solid $dark-shade-050;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: none;
}

@media only screen and (max-width: 640px) {
  .iqdropdown .iqdropdown-menu.mobile-top-menu {
    top: -285px;
  }
}

.iqdropdown-content {
  flex: 1;
  padding-right: 10px;
}

.iqdropdown-item {
  color: #000;
  font-size: 12px;
  font-weight: bold;
}

.iqdropdown p.iqdropdown-description {
  color: #4a4a4a;
  font-size: 12px;
  font-weight: bolder;
}

.iqdropdown .iqdropdown-item-controls {
  display: flex;
  height: 39px;
  margin-right: 7px;
  position: relative;
}

.iqdropdown .iqdropdown-item-controls .counter {
  color: #4a4a4a;
  font-size: 12px;
  position: absolute;
  left: -50px;
  top: 5px;
}

.iqdropdown .iqdropdown-item-controls button {
  align-items: center;
  border: 1px solid #e2e2e2;
  display: flex;
  height: 30px;
  width: 30px;
  transition: all 0.2s ease-in-out;
}

.iqdropdown .iqdropdown-item-controls button:hover {
  background-color: #eee;
}

.iqdropdown .iqdropdown-item-controls button.button-decrement {
  border-radius: 50%;
  position: absolute;
  top: 0px;
  font-size: 13px;
  left: -92px;
}

.iqdropdown .iqdropdown-item-controls button.button-increment {
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 0px;
}

.iqdropdown {
  align-items: center;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  height: 44px;
  justify-content: space-between;
  padding: 0 15px;
  position: relative;
  margin-top: 4px;
}

.iqdropdown .iqdropdown-selection {
  color: #4a4a4a;
  font-size: 14px;
  flex: 1;
  position: relative;
  top: 0px;
  left: -2px;
  letter-spacing: -0.005em;
}

.iqdropdown .iqdropdown-selection::after {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAMCAMAAABGBS09AAAAeFBMVEVMaXGVlZWRkZGRkZH///+UlJSRkZGQkJCRkZGZmZmRkZGRkZGSkpKRkZGVlZWQkJCdnZ2QkJCVlZWUlJSQkJCXl5eRkZGSkpKRkZGSkpKRkZGRkZGRkZGRkZGQkJCQkJCRkZGSkpKQkJCRkZGTk5OSkpKRkZGQkJAWlBl2AAAAJ3RSTlMAHcnXATdy+f4FzLJg5ySKDYgMJuYbSm61XtmUmcc1qkiq9fVHWVidqGmEAAAAhUlEQVR42o2O5w7CYAhF6e7XvfdwtN73f0OhatLUxnj+wMklAP2mHGpFX6h6KLn0QFcds6oDeq6rC6DJ91HeAHAf0k4jACdOPlESOwDG6WVmW7CFgblJELIULcubLJVh3SKydFmTZrQn8uXMdZYH/IiOXAxsGAudoOwbcLcVnaN5nkb/8gRapQtVGGewNQAAAABJRU5ErkJggg==);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 5px;
  width: 12px;
  position: absolute;
  right: 0;
  top: 40%;
}

.iqdropdown.menu-open {
  border-color: $dark-shade-050;
}

.iqdropdown.menu-open .iqdropdown-selection::after {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAMCAMAAABGBS09AAAAe1BMVEVMaXH///+ZmZmqqqqVlZWdnZ2Xl5eVlZWVlZWUlJSQkJCUlJSTk5ORkZGRkZGRkZGSkpKRkZGSkpKSkpKRkZGQkJCRkZGRkZGRkZGQkJCSkpKRkZGRkZGRkZGRkZGRkZGRkZGRkZGQkJCRkZGQkJCRkZGQkJCRkZGQkJAwdLQhAAAAKHRSTlMAAQUGDA0bHSQmNTdHSEpYWV1gbnKIi5SZqqqytcfJzNfZ5uf19fn+jEECQQAAAIhJREFUeNqNj+cSwkAIhLn0Znoz7dLD+z9hII6OJTruH5b9mDuAv2VKaX5BSjojLqlyxi49Huq9D2TVlG/VdaNSWy9Iy1YKOxfA7cismfZAIhopmWJxNPFEzRiJG3NaHs71+6ye8zOtwz7kbxobnmQ3vEBArkAcfHiTPyAWVI0yOTlNTUoDfmoHOBIMkOONx34AAAAASUVORK5CYII=);
}

.iqdropdown-clear-or-apply {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.iqdropdown-clear {
  color: $dark-shade-050;
  padding-left: 13px;
  font-family: 'Montserrat-SemiBold', Arial, sans-serif;
  font-size: 12px;
  margin-top: 12px;
}

.iqdropdown-apply {
  color: $purple;
  padding-right: 7px;
  font-family: 'Montserrat-SemiBold', Arial, sans-serif;
  font-size: 12px;
  margin-top: 12px;
}

.iqdropdown_icon {
  position: absolute;
  top: -15px;
  right: 8px;
}
