@import '../../../styles/color.scss';

.form {
  height: 2.875rem;

  &__sign-up,
  &__sign-in {
    box-sizing: border-box;
    border: 0.06rem solid $dark-shade-025;
    border-radius: 0.25rem;
    border: 0.06rem solid $dark-shade-025;
    height: 2.75rem;
  }

  &__sign-up {
    width: 20rem;
    padding-left: 0.94rem;
  }

  &__sign-in {
    width: 19.875rem;
    margin: 0.625rem 0 0 0;
    padding-left: 1rem;
  }

  &__email {
    height: 2.875rem;

    &_border {
      border: 0.06rem solid $dark-shade-025;
      border-radius: 0.375rem;
      width: 15.31rem;
      margin-left: -0.125rem;
      margin-top: -0.125rem;
      height: 2.5rem;
      padding-left: 0.81rem;
    }

    &_arrow-forward {
      color: $purple;
      position: relative;
      left: 14rem;
      top: -2.15rem;
      font-size: 1.5rem;
      padding: 0;
      margin: 0;
      border: none;
      background: none;
    }
  }
}
