h1.description__grey H1
h1 This one is the sub-section or widget title
h2.description__grey H2
h2 Next one is the item title inside widgets
h3.description__grey H3
h3 This is a label or CTA text
.description__grey body
div This is the body text which is used for most of the design, like paragraphs, lists, etc.