extends ../basis/basis.pug

include ../../components/blocks/pick-up-numbers/pick-up-numbers-card.pug

block meta-keywords
  meta(name="keywords" content="TOXIN, hotels, main page")

block meta-description
  meta(name="description" content="Toxin, номер отеля, оценить, выбрать, регистрация")

block title
  title Landing page

block main
  main
    article.landing__content
      .landing__background
        img(src="imgs/landing-background-image-interior.png" alt="" width="1440" height="830").landing__background_image
      section.landing__pick-numbers
        +pick-up-numbers
      .landing__description Лучшие номера для вашей работы, отдыха и просто вдохновения
