@font-face
{
	font-family: 'Quicksand';
	src: url('fonts/Roboto-Regular.ttf') format('opentype');
	// font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}
@font-face
{
	font-family: 'Quicksand-Medium';
	src: url('fonts/Quicksand-Medium.ttf') format('opentype');
	// font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}
@font-face
{
	font-family: 'Quicksand-Regular';
	src: url('fonts/Quicksand-Regular.ttf') format('opentype');
	// font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}
@font-face
{
	font-family: 'Quicksand-Bold';
	src: url('fonts/Quicksand-Bold.ttf') format('opentype');
	// font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}
@font-face
{
	font-family: 'Quicksand-Medium';
	src: url('fonts/Roboto-Medium.ttf') format('opentype');
	// font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}
@font-face
{
	font-family: 'OpenSans-Regular';
	src: url('fonts/OpenSans-Regular.ttf') format('opentype');
	// font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}
@font-face
{
	font-family: 'OpenSans-SemiBold';
	src: url('fonts/OpenSans-SemiBold.ttf') format('opentype');
	// font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}
@font-face
{
	font-family: 'OpenSans-Bold';
	src: url('fonts/OpenSans-Bold.ttf') format('opentype');
	// font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}
@font-face
{
	font-family: 'OpenSans-ExtraBold';
	src: url('fonts/OpenSans-ExtraBold.ttf') format('opentype');
	// font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}