h3
{
	font-family: Montserrat, Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 12px;
}
.bold
{
	font-family: "Montserrat-Bold", Arial, sans-serif;
	// font-weight: bolder;
	text-transform: uppercase;
	font-size: 12px;
}