include ../../elements/text-field/text-field.pug

mixin footer
	.footer
		.footer-block
			img(src="imgs/Logo.png", alt="" )
			div Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
		.footer-block-nav.footer-block-nav-first
			h3 Навигация
			a(href="#") О нас
			a(href="#") Новости
			a(href="#") Служба поддержки
			a(href="#") Услуги
		.footer-block-nav.footer-block-nav-other
			h3 О нас
			a(href="#") О сервисе
			a(href="#") Наша команда
			a(href="#") Вакансии
			a(href="#") Инвесторы
		.footer-block-nav.footer-block-nav-other-second
			h3 Служба поддержки
			a(href="#") Соглашения
			a(href="#") Сообщества
			a(href="#") Связь с нами
		.footer-block.footer-block-last
			h3 Подписка
			div Получайте специальные предложения и новости сервиса
			+form-email("email", "Your email adress")
	.footer-social
		.footer-copyright Copyright © 2019 Toxin отель. Все права зачищены.
		.footer-icons
			img(src="imgs/icon-twitter.png", alt="")
			img(src="imgs/icon-facebook.png", alt="")
			img(src="imgs/icon-instagram.png", alt="")