.footer {

	&__menu {
		display: flex;
		width: 90rem;
		height: 17rem;
		padding-top: 6.25rem;
		font-size: 0.875rem;
	}

	&__h3 {
		margin: 0;
		font-family: "Montserrat-SemiBold", Arial, sans-serif;
	}

	&__a {
		text-decoration: none;
		color: $dark-shade-075;
	}

	&__logo {
		display: grid;
		max-width: 16.25rem;
		grid-template-rows: 3.6rem auto auto;
		max-height: 13.43rem;
		color: rgba(31, 32, 65, 0.75);
		margin-left: 8.75rem;
		line-height: 1.5rem;
	}

	&__navigation {
		display: grid;
		grid-template-rows: 2.25rem 2.37rem 2.37rem 2.37rem;
		margin-left: 2.56rem;
		padding-top: 0.25rem;
	}

	&__about {
		display: grid;
		grid-template-rows: 2.25rem 2.37rem 2.37rem 2.37rem;
		margin-left: 3.43rem;
		grid-template-columns: 9.37rem;
		padding-top: 0.25rem;
	}

	&__support {
		display: grid;
		grid-template-rows: 2.25rem 2.37rem 2.37rem 2.37rem;
		margin-left: 3.12rem;
		grid-template-columns: 9.37rem;
		padding-top: 0.25rem;
	}

	&__subscription {
		display: grid;
		margin-left: 3.12rem;
		grid-template-rows: 2.37rem 4.43rem 2.37rem 2.37rem;
		line-height: 1.43rem;
	}

	&__subscription .text-field-border {
		width: 15.31rem;
		margin-left: -0.125rem;
		margin-top: -0.125rem‬;
		height: 2.5rem;
		padding-left: 0.81rem;
	}

	&__subscription .arrow-forward {
		left: 14rem;
		top: -2.15rem;
	}

	&__social {
		display: flex;
		justify-content: space-between;
		width: 90rem;
		height: 4.37rem;
		align-items: center;
		font-size: 0.875rem;
		border-top: 0.06rem solid $dark-shade-020;
	}

	&__copyright {
		margin-left: 9.7%
	}

	&__icons {
		margin-right: 9.7%;
		display: grid;
		grid-template-columns: 1.5rem 1.5rem 1.5rem;
		grid-column-gap: 1.25rem;
	}
}