include ../../elements/social-network/social-network.pug

mixin footer-mobile
  .footer-mobile
    img(src="imgs/Logo.png" alt="Toxin label" width="105" height="40")
    div.footer-mobile__text.
      Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.

    .footer-mobile__icons
      +social-network("https://twitter.com/", "imgs/icon-twitter.png", "twitter icon")
      +social-network("https://www.facebook.com/", "imgs/icon-facebook.png", "facebook icon")
      +social-network("https://www.instagram.com/?hl=ru", "imgs/icon-instagram.png", "instagram icon")