include ../../elements/form__email/form__email.pug
include ../../elements/footer-links/footer-links.pug
include ../../elements/social-network/social-network.pug

mixin footer
  .footer__menu
    .footer__logo
      a(href="./landing.html")
        img(src="imgs/Logo.png" alt="Toxin label" )
      .footer__logo_text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    nav.footer__navigation
      +footer-links("Навигация", "О нас", "Новости", "Служба поддержки", "Услуги")
    nav.footer__about
      +footer-links("О нас", "О сервисе", "Наша команда", "Вакансии", "Инвесторы")
    nav.footer__support
      +footer-links("Служба поддержки", "Соглашения", "Сообщества", "Связь с нами")
    nav.footer__subscription
      h3.footer__h3 Подписка
      .footer__subscription_text Получайте специальные предложения и новости сервиса
      +form__email("email", "Your email adress")
  aside.footer__social
    .footer__copyright Copyright © 2019 Toxin отель. Все права зачищены.
    .footer__icons
      +social-network("https://twitter.com/", "imgs/icon-twitter.png", "twitter icon")
      +social-network("https://www.facebook.com/", "imgs/icon-facebook.png", "facebook icon")
      +social-network("https://www.instagram.com/?hl=ru", "imgs/icon-instagram.png", "instagram icon")
