mixin bullet-list(colors, text, margins)
  ul(style={ "margin-bottom": margins}).bullet-list
    if (amrgin)
      div(style={background:  colors}).bullet-list__disc
    else
      div(style={background:  colors}).bullet-list__disc
    div.bullet-list__text= text
