mixin bullet-list(colors, text, margins, classList)
  ul(style={ "margin-bottom": margins} class= classList)
    div(style={background:  colors} class=`${classList}__disc`)
    .bullet-list__text= text
