mixin checkbox-button(text, doesItChecked)
  label.checkbox-button__container= text
    if (doesItChecked == "checked")
      input(type="checkbox" checked).checkbox-button__input
    else
      input(type="checkbox").checkbox-button__input
    span.checkbox-button__checkmark
    span.checkbox-button__checkmark_white