.checkbox {
	width: 400px;
}
.checkbox input {
	position: absolute;
	visibility: hidden;
}

.checkbox-background-gradient-pets, .checkbox-background-gradient-smoke, .checkbox-background-gradient-guests {
	background: linear-gradient(180deg, $dark-shade-025, $dark-shade-025);
	width: 40px;
	height: 20px;
	border-radius: 20px;
	margin: 0;
	padding: 0;
}
.checkbox-background-white {
	background: #fff;
	height: 18px;
	width: 38px;
	position: relative;
	top: 1px;
	left: 1px;
	border-radius: 10px;
}

.checkbox-toggle-pets, .checkbox-toggle-smoke, .checkbox-toggle-guests  {
	cursor: pointer;
	line-height: 20px;
	content: '';
	position: absolute;
	top: 3px;
	left: 2px;
	width: 12px;
	height: 12px;
	border-radius: 6px;
	background: $dark-shade-025;
	transition: .5s;
}

.checkbox-text {
	position: relative;
	left: 48px;
	width: 300px;
	letter-spacing: -0.008rem;
}

