mixin checkbox-toggle(text)
  form(action="")
    label.checkbox-toggle
      .checkbox-toggle__gradient
        .checkbox-toggle__white
          input(type="checkbox").checkbox-toggle__input
          .checkbox-toggle__circle
          .checkbox-toggle__text= text