mixin toggle-checkbox(text)
	label.checkbox-toggle
		.checkbox-toggle__background_gradient
			.checkbox-toggle__background_white
				input(type="checkbox" name="name" value="pets-allowed" class="checkbox-toggle__input")
				.checkbox-toggle__circle
				.checkbox-toggle__text= text