mixin toggle-checkbox(text)
	label.checkbox
		.checkbox-background-gradient-pets
			.checkbox-background-white
				input(type="checkbox" name="name" value="pets-allowed" class="toggle-pets")
				.checkbox-toggle-pets
				div.checkbox-text= text