@import '../../../01_colors_&_fonts/color.scss';

.form__name {
  height: 2.875rem;

  &_sign-up,
  &_sign-in {
    box-sizing: border-box;
    border: 0.06rem solid $dark-shade-025;
    border-radius: 0.25rem;
    border: 0.06rem solid $dark-shade-025;
    height: 2.75rem;
  }

  &_sign-up {
    width: 20rem;
    padding-left: 0.94rem;
  }

  &_sign-in {
    width: 19.875rem;
    margin: 0.625rem 0 0 0;
    padding-left: 1rem;
  }
}
