mixin checkbox-rich({titlesAndChecked, texts})
  form(action="")
    - var i= 0;
    each val, index in titlesAndChecked
      label.checkbox-rich__container
        .checkbox-rich__title= index
        input(type="checkbox" checked=val).checkbox-rich__input
        span.checkbox-rich__checkmark
        span.checkbox-rich__checkmark_white
        .checkbox-rich__korridor-width= texts[i]
        - i++;