@import '../../../01_colors_&_fonts/color.scss';

.button-pill__full {
  display: inline-block;
  cursor: pointer;
  background: linear-gradient(180deg, $purple, #8ba4f9);
  border: none;
  color: white;
  height: 2.125rem;
  padding: 0 1.187rem;
  border-radius: 1.375rem;
  font-size: 0.687rem;
  letter-spacing: 0.05rem;
  font-family: 'Montserrat-SemiBold', Arial, sans-serif;
  text-align: center;
  text-decoration: none;
}
