@import '../../../01_colors_&_fonts/color.scss';

.color-example {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 0.37rem;

  &__dark-shade-100 {
    background: $dark-shade-100;
  }

  &__dark-shade-075 {
    background: $dark-shade-075;
  }

  &__dark-shade-050 {
    background: $dark-shade-050;
  }

  &__dark-shade-025 {
    background: $dark-shade-025;
  }

  &__dark-shade-005 {
    background: $dark-shade-005;
  }

  &__purple {
    background: $purple;
  }

  &__green {
    background: $green;
  }
}
