mixin color-example(title, color, colorClass)
  - colorClass = colorClass ? `color-example${colorClass}`: ""
  div.color
    .color-example(class=colorClass)
    div.color__title= title
    div.color__color= color