mixin color-example(title, color, colorClass)
  - colorClass = colorClass ? `color-example${colorClass}`: ""
  .color
    .color-example(class=colorClass)
    .color__title= title
    .color__color= color