div
	img(src="imgs/insert_emoticon.svg" alt="Cinque Terre" width="48" height="48").like-button__profile-image
div
	label.like-button
		input(type="checkbox").like-button__input
		.like-button__background
			.like-button__empty-white
			.like-button__num 12
		.material-icons.like-button__favorite_border favorite_border
		.material-icons.like-button__favorite favorite
