.button-pill_full-with-arrow {
  background: linear-gradient(180deg, #BC9CFF, #8BA4F9);
  border: none;
  color: white;
	padding: auto;
	width: 320px;
	height: 44px;
	font-weight: 700;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
	border-radius: 22px;
	position: relative;
}

.button-pill_full-with-arrow_arrow-for-button {
	position: absolute;
	top: 10px;
	right: 9px;
	font-size: 24px;
	color: white;
}

.button-pill_full-with-arrow h3 {
	font-family: "Montserrat-Bold", Arial, sans-serif;
	margin-left: -3px;
}