@import '../../../01_colors_&_fonts/color.scss';

.button {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 1.375rem;

  font-family: 'Montserrat', Arial, sans-serif;
  text-transform: uppercase;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  &__text_white {
    color: white;
    padding: 0;
    margin: 0;
  }

  &__text_purple {
    color: $purple;
    padding: 0;
    margin: 0;
  }

  &_color_white {
    background: white;
    border: solid 0.125rem transparent;
    background-clip: padding-box;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: -0.125rem;
      border-radius: inherit;
      z-index: -1;
      background: linear-gradient(180deg, $purple, #8ba4f9);
    }
  }

  &_color_purple {
    color: white;
    background: linear-gradient(180deg, $purple, #8ba4f9);
    border: none;
  }

  &__arrow_enable {
    position: absolute;
    margin: 0;
    font-size: 1.5rem;
    right: 3%;
  }

  &__arrow_disable {
    display: none;
  }
}
