include ../../blocks/form__name/form__name.pug
include ../../blocks/button/button.pug

mixin sign-in
  article.sign-in
    header
      h2.sign-in__title Войти
    form(action="./search.html")
      .sign-in__email
        +form__name("email", "Email", "email-sign-in", "sign-in")
      .sign-in__password
        +form__name("text", "Пароль", "password-sign-in", "sign-in")
      .sign-in__button
        .sign-in__button-purple  
          +button({
            text: "Войти",
            arrow: "enable",
            color: "purple"
          })
    .sign-in__create
      p.sign-in__question Нет аккаунта на Toxin?
      form(action="./registration-sign-up.html").sign-in__button-white
        +button({
          text: "Создать",
          arrow: "disable",
          color: "white"
        })
