@import '../../../styles/headers';

.sign-in {
  width: 23.75rem;
  height: 22.37rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 0.06rem solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0rem 0rem 1.56rem rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  padding-left: 1.87rem;
  padding-right: 1.87rem;

  &__title {
    @include header_h2(1.5rem, null);
    margin-top: 2.3rem;
    margin-left: -0.06rem;
    font-size: 1.5rem;
  }

  &__email {
    margin-top: 0.6rem;
    margin-left: -0.18rem;
  }

  &__password {
    margin-top: 0.5rem;
    margin-left: -0.18rem;
  }

  &__button {
    margin-top: 1.75rem;
    margin-left: -0.06rem;
  }

  &__button-purple {
    width: 20rem;
    height: 2.75rem;
  }

  &__button-white {
    width: 6.18rem;
    height: 2.75rem;
  }

  &__create {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.87rem;
    margin-left: -0.06rem;
  }

  &__form {
    width: 20rem;
  }

  &__question {
    font-size: 0.87rem;
    margin: 0;
    letter-spacing: -0.0096rem;
  }
}
