doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name="keywords" content="TOXIN, hotels, search room")
		block meta-keywords
		block meta-description
		block title
	body.base-page

		include ../blocks/header/header.pug
		include ../blocks/footer/footer.pug
		include ../blocks/01-elements/buttons/button-pill_empty.pug
		include ../blocks/01-elements/buttons/button-pill_full.pug
		include ../blocks/01-elements/buttons/button-pill_full-with-arrow.pug
		include ../blocks/01-elements/text-field/text-field.pug

		block header
			header.base-header
				+header("ВОЙТИ", "ЗАРЕГИСТРИРОВАТЬСЯ")
		block main
		block footer
			footer.base-footer
				+footer