doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name="keywords" content="TOXIN, hotels, main page")
		meta(name="description" content="Toxin, номер отеля, оценить, выбрать, регистрация")
		title Landing page

	body.landing-page
		include ../blocks/header/header.pug
		include ../blocks/footer/footer.pug
		include ../blocks/01-elements/buttons/button-pill_empty.pug
		include ../blocks/01-elements/buttons/button-pill_full.pug
		include ../blocks/01-elements/buttons/button-pill_full-with-arrow.pug
		include ../blocks/01-elements/text-field/text-field.pug
		include ../blocks/01-elements/dropdown/dropdown-subparagraph.pug
		header.landing-header
			+header("ВОЙТИ", "ЗАРЕГИСТРИРОВАТЬСЯ")
		main.landing-main
			article.landing-article-block
				.landing-background
					img(src="imgs/landing-background-image-interior.png", alt=""  width="1440" height="830")
				.landing-card-pick-numbers
					include ../blocks/pick-up-numbers/pick-up-numbers-card.pug
					+pick-up-numbers
				.landing-image-description Лучшие номера для вашей работы, отдыха и просто вдохновения
		footer.landing-footer
			+footer