.landing-page {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: auto;
	height: auto;
	background-color: white;
}

.landing-background {
	width: 1440px;
	height: 830px;
	overflow: hidden;
	position: relative;
}
.landing-background img {
	position: relative;
	top: -35px;
	left: 1px;
	transform: scaleY(1.085);
}
.landing-article-block {
	position: relative;
}
.landing-card-pick-numbers {
	position: absolute;
	z-index: 1;
	top: 70px;
	left: 140px;
}
.landing-image-description {
	position: absolute;
	z-index: 1;
	bottom: 21px;
	right: 132px;
	width: 294px;
	letter-spacing: 0.04em;
	text-align: end;
	font-size: 13px;
	line-height: 24px;
}