extends registration.pug
block registration-image
	.registration-background-in
		img(src="imgs/registration-background-image-interior.png", alt="")
block sing-in
	include ../blocks/sign-in/sign-in.pug
	+sign-in