extends registration.pug
block registration-image
	.registration-background-up
		img(src="imgs/registration-background-image-interior.png", alt="")
block sing-up
	include ../blocks/sign-up/sign-up.pug
	+sign-up