extends registration.pug
block meta-keywords
	meta(name="keywords" content="sign up")
block meta-description
	meta(name="description" content="Зарегистрировавшись, подобрать подходящий номер.")
block page-name
	title Sign up
block registration-image
	.registration-background-up
		img(src="imgs/registration-background-image-interior.png", alt="")
block sing-up
	include ../blocks/sign-up/sign-up.pug
	+sign-up