.room-detail__main {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 1440px;
	background-color: white;
	margin: auto;
	border-bottom: 1px solid rgba(31, 32, 65, 0.10);
}

.room-detail__main-picture {
	display: grid;
	grid-template-columns: 981px 459px;
	grid-template-rows: 243px 242px;
}
.room-detail__main-picture_first {
	grid-row: 1/3;
}
.room-detail__main-picture_second {
	grid-row: 1/3;
	grid-column: 2/3;
}
.room-detail__main_flex {
	display: flex;
	// margin-top: 75px;
}
.room-detail__main_flex section {
	margin: 70px 35px;
}
.room-detail__main_information {
	display: grid;
	grid-template-columns: 356px 356px;
}
.room-detail__main_information_about-room_title {
	font-size: 19px;
	margin-left: 2px;
	margin-top: 1px;
}
.room-detail__main_information_impressions_title {
	font-size: 19px;
	margin-left: 7px;
	margin-top: 1px;
}
// .room-detail__main_information h2 {
// 	font-size: 19px;
// 	margin-left: 7px;
// 	margin-top: 1px;
// }

.room-detail__main_information_impressions {
	position: relative;
}
.room-detail__main_information_impressions_display {
	position: absolute;
	top: 45px;
	left: 5px;
}
.room-detail__main_information_text-in-circle {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 121px;
	height: 120px;
	z-index: 1;
	color: $purple;
}
.text-in-circle-number {
	font-weight: 500;
	font-size: 24px;
	font-family: "Quicksand-Medium", Arial, sans-serif;
	line-height: 25px;
	padding-left: 2px;
}
.text-in-circle-text {
	padding-left: 2px;
}
.room-detail__main_information_impressions_circle {
	// box-sizing: border-box;
	width: 121px;
	height: 120px;
	position: relative;
	// border-radius: 50%;
	// border-top-left-radius: 100%;
}
.left-part-top {
	background: linear-gradient(0deg, #FFCD9C, #FFE39C);
	border-top-left-radius: 100%;
	// border-bottom-left-radius: 50%;
	position: absolute;
	top: 0px;
	// right: 0px;
  width: 60px;
  height: 60px;
}
.left-part-top::after {
	content: "";
	position: absolute;
	width: 56px;
	height: 56px;
	background: white;
	top: 4px;
	left: 4px;
	border-top-left-radius: 100%;
}
.left-part-bottom {
	background: linear-gradient(0deg, #FFBA9C, #FFCD9C);
	border-bottom-left-radius: 100%;
	position: absolute;
	bottom: 0px;
  width: 60px;
  height: 60px;
}
.left-part-bottom::after {
	content: "";
	position: absolute;
	width: 56px;
	height: 56px;
	background: white;
	left: 4px;
	border-bottom-left-radius: 100%;
}

.right-top-part {
	background: linear-gradient(0deg, #8BA4F9, #BC9CFF);
	border-top-right-radius: 100%;
	width: 59px;
	height: 59px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.right-top-part::after {
	content: "";
	position: absolute;
	width: 49px;
	height: 49px;
	background: white;
	top:10px;
	border-top-right-radius: 100%;
}
.right-bottom-part {
	background: linear-gradient(0deg, #66D2EA, #6FCF97);
	border-bottom-right-radius: 100%;
	width: 59px;
	height: 59px;
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.right-bottom-part::after {
	content: "";
	position: absolute;
	width: 55px;
	height: 55px;
	background: white;
	border-bottom-right-radius: 100%;
}
.room-detail__main_information_impressions .list-disc {
	left: 26px;
}
.room-detail__main_information_impressions .list-disc:nth-of-type(1) {
background: linear-gradient(0deg, #FFBA9C, #FFE39C);
}
.room-detail__main_information_impressions .list-disc:nth-of-type(3) {
	background: linear-gradient(0deg, #66D2EA, #6FCF97);
	}
.room-detail__main_information_impressions .list-disc:nth-of-type(5) {
	background: linear-gradient(0deg, #8BA4F9, #BC9CFF);
	}
.room-detail__main_information_impressions .list-disc:nth-of-type(7) {
	background: linear-gradient(0deg, rgba(61, 73, 117, 1), rgba(144, 144, 144, 1));
	}
	.room-detail__main_information_impressions_bullet-list {
	position: absolute;
	top: 57px;
	left: 131px;
	}
	.room-detail__main_information_impressions_bullet-list .bullet-list {
		line-height: 24px;
	}
	.room-detail__main-information_rules_bullet .list-disc {
		left: 0px;
		margin-top: 16px;
	}
	.room-detail__main-information_rules_bullet .bullet-list {
    margin: 0;
    padding-left: 22px;
    padding-top: 9px;
    width: 240px;
    letter-spacing: -0.005rem;
	}

	.room-detail__main-information_rules_bullet li {
		margin-top: .57rem;
		letter-spacing: -0.01rem;
	}

	.room-detail__main_information_rules h2 {
    padding-left: 1.35rem;
    padding-top: 17px;
		font-size: 19px;
	}
	.room-detail__main_information_cancel h2 {
		padding-left: 0.4rem;
		padding-top: 17px;
    font-size: 19px;
	}
	.room-detail__main_information_cancel p {
		padding-left: 0.4rem;
    padding-top: 0.27rem;
    letter-spacing: -0.007rem;
    width: 340px;
    line-height: 1.5rem;
	}

	.room-detail__main_information_comments {
		grid-column: 1/3;
	}

	.room-detail__main_information_comments .comments {
		padding: 10px 0 18px 0;
	}

	.room-detail__main_information_comments-title  {
		display: flex;
		justify-content: space-between;
		margin: 15px 0;
	}	
	.room-detail__main_information_comments-title_h2 {
		font-size: 19px;
    padding-left: 0.03rem;
    letter-spacing: 0.003rem;
	}
	.room-detail__main_information_comments-title_span {
		padding-top: 0.28rem;
		color: $dark-shade-075;
	}