.search-page__main {
	display: flex;
	/* position: relative; */
	width: 1440px;
	justify-content: space-between;
	padding-bottom: 77px;
	border-bottom: 1px solid $dark-shade-025;
}

.search-page__main_card {
	width: 266px;
	display: flex;
	flex-direction: column;
	margin-left: 140px;
	margin-top: 30px;
}
.search-page__main_rooms-choose {
	width: 834px;
	position: relative;
	left: 60px;
	margin-top: 34px;
	left: -140px;
}

.search-page__main_room-pick-up {
	margin-top: 25px;
	display: grid;
	grid-template-columns: 270px 270px 270px;
	grid-column-gap: 12px;
	grid-row-gap: 19px;
}
.search-page__main_pagination {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 45px;
	position: relative;
}
.search-page__main_card_title-datepicker {
	margin-top: 0px;
}
.search-page__main_card_block {
	margin-top: 22px;
}
.search-page__main_card_title_check-box {
	margin-top: 29px;
	margin-bottom: 17px;
}
.search-page__main_card_title_check-box-rich {
	margin-top: 18px;
	margin-bottom: 17px;
}
.search-page__main_card_title_comfortable {
	margin-top: 1px;
	margin-bottom: 4px;
}
.search-page__main_card_expendable-checkbox-list {
	margin-top: 15px;
}