extends base-page.pug

block main
	include ../blocks/01-elements/checkbox/checkbox-radio.pug
	include ../blocks/01-elements/checkbox/checkbox-toggle.pug
	include ../blocks/01-elements/text-field/text-field_calendar copy.pug
	include ../blocks/01-elements/dropdown/dropdown-subparagraph.pug
	include ../blocks/01-elements/range-slider/range-slider.pug
	include ../blocks/01-elements/checkbox-rich-buttons/rich-checkbox-button.pug
	include ../blocks/01-elements/checkbox/checkbox-expendable.pug
	include ../blocks/01-elements/checkbox/checkbox-buttons.pug
	include ../blocks/hotel-room-card/hotel-room-card.pug
	include ../blocks/01-elements/rate-button/rate-button.pug
	include ../blocks/01-elements/pagination/pagination.pug
	.search-page__main
		article.search-page__main_card
			.search-page__main_card_title-datepicker
				h3 Даты пребывания в отеле
			+calendar-hidden("search-page__main_card_calendar")
			.search-page__main_card_block
				.search-page__main_card_title-datepicker
					h3 Гости
				+dropdown-people
			+range-slider
			.search-page__main_card_title_check-box
				h3 checkbox buttons
			+checkbox-button_simple("Можно курить", "")
			+checkbox-button_simple("Можно с питомцами", "checked")
			+checkbox-button_simple("Можно пригласить гостей (до 10 человек)", "checked")
			.search-page__main_card_title_check-box-rich
				h3 доступность
			+checkbox-rich
			.search-page__main_card_block
				.search-page__main_card_title_comfortable
					h3 Удобства номера
				+dropdown-room-comfort
			.search-page__main_card_expendable-checkbox-list
				+checkbox-expendable("дополнительные удобства")
		article.search-page__main_rooms-choose
			h2 Номера, которые мы для вас подобрали
			.search-page__main_room-pick-up
				+room-card("imgs/room1.png", "5", "888", "9 990₽", "lux", "145")
				+room-card("imgs/room2.png", "4", "840", "9 900₽", "", "65")
				+room-card("imgs/room-3.png", "3", "980", "8 500₽", "lux", "35")
				+room-card("imgs/room-4.png", "5", "856", "7 300₽", "lux", "19")
				+room-card("imgs/room-5.png", "4", "740", "6 000₽", "", "44")
				+room-card("imgs/room-6.png", "3", "982", "5 800₽", "", "56")
				+room-card("imgs/room-7.png", "5", "678", "5 500₽", "", "45")
				+room-card("imgs/room-8.png", "4", "450", "5 300₽", "", "39")
				+room-card("imgs/room-9.png", "3", "350", "5 000₽", "", "77")
				+room-card("imgs/room-10.png", "5", "666", "5 000₽", "", "25")
				+room-card("imgs/room-11.png", "3", "444", "5 000₽", "", "15")
				+room-card("imgs/room-12.png", "3", "352", "5 000₽", "", "55")
			.search-page__main_pagination
				+pagination