.comments {
  display: grid;
  grid-template-columns: 3.12rem 40.62rem;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;

  &__profile-image {
    margin-top: -0.25rem;
  }

  &__name {
    font-size: 0.87rem;
    text-transform: none;
    letter-spacing: 0.01rem;
  }

  &__date {
    font-size: 0.87rem;
    margin-top: 0.5rem;
  }

  &__like-button {
    padding-left: 0.25rem;
  }

  &__description {
    letter-spacing: -0.005rem;
    line-height: 1.5rem;
    width: 40.81rem;
    font-size: 0.87rem;
    margin-top: -0.1rem;
  }
}

.like-button {
  position: relative;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;

  &__background {
    z-index: 1;
    background: linear-gradient(180deg, $dark-shade-025, $dark-shade-025);
    border: none;
    color: $dark-shade-025;
    padding: auto;
    width: 2.5rem;
    height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 1.37rem;
    position: relative;
  }

  & input:checked ~ &__background {
    background: linear-gradient(180deg, #bc9cff, #8ba4f9);
  }

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &__empty-white {
    z-index: 2;
    position: absolute;
    background: white;
    width: 2.37rem;
    height: 1.12rem;
    left: 0.07rem;
    top: 0.06rem;
    border-radius: 0.62rem;
  }

  &__favorite_border {
    z-index: 5;
    font-size: 0.62rem;
    position: absolute;
    top: 0.06rem;
    left: 0.31rem;
    color: $dark-shade-025;
  }

  &__favorite {
    z-index: 6;
    font-size: 0.62rem;
    position: absolute;
    top: 0.06rem;
    left: 0.31rem;
    display: none;
    color: #bc9cff;
  }

  & input:checked ~ .like-button__favorite {
    display: block;
  }
  & input:checked ~ .like-button__favorite_border {
    display: none;
  }

  &__num {
    z-index: 3;
    position: absolute;
    top: 0.25rem;
    right: 0.68rem;
    font-weight: 500;
    font-size: 0.62rem;
  }
}
