label.checkbox-buttons_container Можно курить
	input(type="checkbox")
	span.checkbox-buttons_checkmark
	span.checkbox-buttons_checkmark-white

label.checkbox-buttons_container Можно с питомцами
	input(type="checkbox")
	span.checkbox-buttons_checkmark
	span.checkbox-buttons_checkmark-white

label.checkbox-buttons_container Можно пригласить гостей (до 10 человек)
	input(type="checkbox")
	span.checkbox-buttons_checkmark
	span.checkbox-buttons_checkmark-white