div.checkbox-container-list
	//- button(class="dropbtn"id="myDropdown007" onclick="foo()") Dropdown-forever
	//- div(id="myDropdown007" class="dropdown-content")
	button(class="dropbtn" id="myDropdown007") 
		h3.bold.checkbox-expendable-list-h3 expandable checkbox list
		span.material-icons#btn-icons keyboard_arrow_down
	div(class="dropdown-content" id="dropdownCheckboxes")
		label.checkbox-buttons_container Завтрак
			input(type="checkbox" checked)
			span.checkbox-buttons_checkmark
			span.checkbox-buttons_checkmark-white
		label.checkbox-buttons_container Письменный стол
			input(type="checkbox")
			span.checkbox-buttons_checkmark
			span.checkbox-buttons_checkmark-white
		label.checkbox-buttons_container Стул для кормления
			input(type="checkbox")
			span.checkbox-buttons_checkmark
			span.checkbox-buttons_checkmark-white
		label.checkbox-buttons_container Кроватка
			input(type="checkbox")
			span.checkbox-buttons_checkmark
			span.checkbox-buttons_checkmark-white