label.checkbox
	#checkbox-background-gradient-smoke
		.checkbox-background-white
			input(type="checkbox" name="name" value="pets-allowed" id="toggle-smoke")
			.checkbox-toggle-smoke
			div.checkbox-text Можно с питомцами
	br

label.checkbox
	#checkbox-background-gradient-pets
		.checkbox-background-white
			input(type="checkbox" name="name" value="pets-allowed" id="toggle-pets")
			.checkbox-toggle-pets
			div.checkbox-text Можно с питомцами
	br

label.checkbox
	#checkbox-background-gradient-guests
		.checkbox-background-white
			input(type="checkbox" name="name" value="pets-allowed" id="toggle-guests")
			.checkbox-toggle-guests
			div.checkbox-text Можно с питомцами
	br