/* Customize the label (the container) */
.checkbox-radio_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.checkbox-radio_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkbox-radio_checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: $dark-shade-025;
  border-radius: 50%;
}
.checkbox-radio_checkmark-white {
  position: absolute;
  top: 1px;
  left: 1px;
  height: 18px;
  width: 18px;
	background: white;
	border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.checkbox-radio_container input:checked ~ .checkbox-radio_checkmark {
  background: linear-gradient(180deg, #BC9CFF, #8BA4F9);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkbox-radio_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkbox-radio_container input:checked ~ .checkbox-radio_checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.checkbox-radio_container .checkbox-radio_checkmark:after {
	z-index: 100;
	top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: linear-gradient(180deg, #BC9CFF, #8BA4F9);
}