form(action="")
	label.checkbox-radio_container Мужчина
		input(type="radio" name="sex" value="this is a men's world")
		span.checkbox-radio_checkmark
		span.checkbox-radio_checkmark-white
	label.checkbox-radio_container Женщина
		input(type="radio" name="sex" value="but it would be nothing? without woman or a girl")
		span.checkbox-radio_checkmark
		span.checkbox-radio_checkmark-white