// настраиваю лейбл
.checkbox-buttons_container {
	width: 210px;
	display: block;
	position: relative;
	padding-left: 31px;
	margin-bottom: 13px;
	cursor: pointer;
	font-size: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: "Montserrat", Arial, sans-serif;
}

// прячу дефолтный чекбокс
.checkbox-buttons_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

// создаю свой чекбокс
.checkbox-buttons_checkmark {
  position: absolute;
  top: -2px;
  left: 0;
  height: 20px;
  width: 20px;
	background: $dark-shade-025;
	border-radius: 4.5px;
}

.checkbox-buttons_checkmark-white {
  position: absolute;
  top: -1px;
  left: 1px;
  height: 18px;
  width: 18px;
	background: white;
	border-radius: 4px;
}
// Когда выбран то меняется цвет
.checkbox-buttons_container input:checked ~ .checkbox-buttons_checkmark {
  background: linear-gradient(180deg, #BC9CFF, #8BA4F9);
}

// создается индикатор выбора, здесь он неактивен, выключен и невидим
.checkbox-buttons_checkmark:before, .checkbox-buttons_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

//  показывает индикатор если чекбокс выбран
.checkbox-buttons_container input:checked ~ .checkbox-buttons_checkmark:after {
  display: block;
}
.checkbox-buttons_container input:checked ~ .checkbox-buttons_checkmark:before {
  display: block;
}
// настройка индикатора
.checkbox-buttons_container .checkbox-buttons_checkmark:after {
	z-index: 100;
	left: 10px;
	top: 6px;
	width: 2px;
	height: 7px;
	background-image: linear-gradient(180deg, #BC9CFF, #8BA4F9);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-buttons_container .checkbox-buttons_checkmark:before {
	z-index: 110;
	left: 7px;
	top: 8px;
	width: 2px;
	height: 5px;
	background-image: linear-gradient(180deg, #BC9CFF, #8BA4F9);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}