mixin checkbox-expendable(title)
	div.checkbox-container-list
		button(class="dropdown-dropbtn" class="myDropdown007") 
			h3.bold.checkbox-expendable-list-h3= title
			span.material-icons.dropdown-btn-icons keyboard_arrow_down
		div(class="dropdown-content" class="dropdownCheckboxes")
			label.checkbox-buttons_container.checkbox-expendable-margin Завтрак
				input(type="checkbox" checked)
				span.checkbox-buttons_checkmark
				span.checkbox-buttons_checkmark-white
			label.checkbox-buttons_container.checkbox-expendable-margin Письменный стол
				input(type="checkbox" checked)
				span.checkbox-buttons_checkmark
				span.checkbox-buttons_checkmark-white
			label.checkbox-buttons_container.checkbox-expendable-margin Стул для кормления
				input(type="checkbox")
				span.checkbox-buttons_checkmark
				span.checkbox-buttons_checkmark-white
			label.checkbox-buttons_container.checkbox-expendable-margin Кроватка
				input(type="checkbox")
				span.checkbox-buttons_checkmark
				span.checkbox-buttons_checkmark-white