.booking {
	width: 380px;
	height: 511px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding-left: 30px;
	padding-right: 30px;
}

.booking__text {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	margin-left: 3%;
	margin-right: 3%;
	font-size: 14px;
	position: relative;
	color: $dark-shade-075;
}

.booking__text_first-field {
	height: 16px;
}

.booking__text_symbol {
	font-size: 14px;
	margin-left: 12px;
	font-family: "Montserrat", Arial, sans-serif;
	position: absolute;
	top: 0px;
	left: -22px;
}

.booking__text_number {
	margin-left: 3px;
	font-size: 23px;
	line-height: 0;
	position: absolute;
	top: 5px;
	left: 8px;
	letter-spacing: 0.03em;
	font-family: "Quicksand-Bold", Arial, sans-serif;
}

.booking__text_lux {
	color: $purple;
	position: absolute;
	top: 1px;
	left: 59px;
}

.booking__text_price {
	top: -15px;
	color: rgba(31, 32, 65, 0.5);
	position: absolute;
	right: 38px;
	font-family: "Montserrat-SemiBold", Arial, sans-serif;
}

.booking__text_per-day {
	color: rgba(31, 32, 65, 0.5);
	position: absolute;
	right: -11px;
	top: 1px;
	letter-spacing: -0.05em;
	font-size: 13px;
}

.booking__calendar_arrival_title {
	margin-top: 23px;
	margin-bottom: 5px;
	font-family: "Montserrat-Bold", Arial, sans-serif;
	margin-left: -1px;
}

.booking-guests_title {
	font-family: "Montserrat-Bold", Arial, sans-serif;
	margin-left: -1px;
	margin-top: 23px;
	margin-bottom: 3px;
}

.booking__calendar_input {
	display: flex;
	margin: 0;
	justify-content: left;
	height: 42px;
	padding: 0px;
}

.booking__calendar_input_datepicker {
	opacity: 0;
	width: 0;
	height: 0;
	position: relative;
	left: -6px;
	top: 35px;
}

// .booking-title>div {
// 	display: flex;
// 	align-items: flex-end;
// }

// .booking-title>div h3 {
// 	color: $purple;
// }

// .booking-title>div p {
// 	margin: 0;
// 	padding: 0;
// 	color: $dark-shade-075;
// }

// .booking-title>div span {
// 	margin: 0;
// 	padding: 0;
// 	color: $dark-shade-025;
// }

// .booking-calendar-title {
// 	margin-top: 20px;
// }

// .booking-calendar {
// 	width: 320px;
// 	height: 44px;
// 	margin-top: 5px;
// }

.booking__card-quests {
	margin-top: 20px;
}

.booking-text div span {
	max-width: 215px;
	display: inline-flex;
	color: $dark-shade-050;
}

.booking-icon {
	color: $dark-shade-025;
	transform: rotate(180deg);
	position: absolute;
	top: -4px;
	right: 78px;
}

.booking-grid-item {
	grid-column: 1 / 3;
}

.booking-text-grid-end-position {
	justify-self: end;
	position: absolute;
	right: 0rem;
}



.booking-text-1 {
	margin-top: 20.5px;
	margin-left: 0px;
	margin-right: -1px;
	position: relative;
}

.booking-text-2 {
	margin-top: 16.5px;
	margin-left: 0px;
	margin-right: -1px;
	position: relative;
}

.booking-text-2_text {
	letter-spacing: -0.01em;
}

.booking-text-2_text-wide {
	letter-spacing: -0.01em;
	width: 220px;
}

.booking-text-total {
	display: grid;
	grid-template-columns: 20% 57% 24%;
	font-size: 13px;
	margin-top: 30.5px;
	margin-left: 0px;
	margin-right: -1px;
}

.booking-text-total-border {
	border-bottom: 1px dotted $dark-shade-050;
	position: relative;
	top: -4px;
}

.booking-text-total_price {
	justify-self: end;
	font-family: "Montserrat-Bold", Arial, sans-serif;
	font-size: 18px;
	transform: SCALEX(0.9);
}