.booking {
  width: 23.75rem;
  height: 31.937rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 0.06rem solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0rem 0rem 1.56rem rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;

  &__head {
    display: flex;
    justify-content: space-between;
    margin-top: 3.125rem;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 0.875rem;
    position: relative;
    color: $dark-shade-075;
  }

  &__tytle {
    height: 1rem;
  }

  &__symbol {
    font-size: 0.875rem;
    margin-left: 0.75rem;
    font-family: "Montserrat", Arial, sans-serif;
    position: absolute;
    top: 0rem;
    left: -1.375rem;
  }

  &__number {
    margin-left: 0.187rem;
    font-size: 1.437rem;
    line-height: 0;
    position: absolute;
    top: 0.31rem;
    left: 0.5rem;
    letter-spacing: 0.03em;
    font-family: "Quicksand-Bold", Arial, sans-serif;
  }

  &__lux {
    color: $purple;
    position: absolute;
    top: 0.06rem;
    left: 3.68rem;
  }

  &__price {
    top: -0.94rem;
    color: rgba(31, 32, 65, 0.5);
    position: absolute;
    right: 2.375rem;
    font-family: "Montserrat-SemiBold", Arial, sans-serif;
  }

  &__per-day {
    color: rgba(31, 32, 65, 0.5);
    position: absolute;
    right: -0.687rem;
    top: 0.06rem;
    letter-spacing: -0.05em;
    font-size: 0.81rem;
  }

  &__arrival_title {
    margin-top: 1.437rem;
    margin-bottom: 0.31rem;
    font-family: "Montserrat-Bold", Arial, sans-serif;
    margin-left: -0.06rem;
  }

  &__calendar {
    display: flex;
    margin: 0;
    justify-content: left;
    height: 2.625rem;
    padding: 0rem;
  }

  &__datepicker {
    opacity: 0;
    width: 0;
    height: 0;
    position: relative;
    left: -0.375rem;
    top: 2.187rem;
  }

  &__guests_title {
    font-family: "Montserrat-Bold", Arial, sans-serif;
    margin-left: -0.06rem;
    margin-top: 1.437rem;
    margin-bottom: 0.187rem;
  }

  &__text_days {
    margin-top: 1.28rem;
    margin-left: 0rem;
    margin-right: -0.06rem;
    position: relative;
  }

  &__text_fee {
    margin-top: 1.03rem;
    margin-left: 0rem;
    margin-right: -0.06rem;
    position: relative;
  }

  &__align_center {
    color: $dark-shade-025;
    transform: rotate(180deg);
    position: absolute;
    top: -0.25rem;
    right: 4.87rem;
  }

  &__text_total {
    display: grid;
    grid-template-columns: 20% 57% 24%;
    font-size: 0.81rem;
    margin-top: 1.9rem;
    margin-left: 0rem;
    margin-right: -0.06rem;
  }

  &__total_border {
    border-bottom: 0.06rem dotted $dark-shade-050;
    position: relative;
    top: -0.25rem;
  }

  &__total_price {
    justify-self: end;
    font-family: "Montserrat-Bold", Arial, sans-serif;
    font-size: 1.12rem;
    transform: SCALEX(0.9);
  }

  &__button {
    margin-top: 1.28rem;
    margin-left: 0rem;
    margin-right: -0.06rem;
    position: relative;
  }
}