.container-text-field {
	height: 46px;
}

.text-field-border {
	border: 1px solid $dark-shade-025;
	border-radius: 6px;
}

.text-field-email {
	box-sizing: border-box;
	width: 260px;
	height: 44px;
	color: $dark-shade-025;
	font-size: 14px;
	padding: 0 0 0 15px;
	outline: none;
}

.text-field-date {
	box-sizing: border-box;
	width: 260px;
	height: 44px;
	color: $dark-shade-025;
	font-size: 14px;
	padding: 0 10px 0 15px;
	outline: none;
}

.text-field-email:focus,
.text-field-date:focus {
	border-color: $dark-shade-075;
	color: $dark-shade-100;
}

.arrow-forward {
	color: $purple;
	position: relative;
	left: -44px;
	top: 7.5px;
	font-size: 24px;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	color: rgba(0, 0, 0, 0);
	opacity: 1;
	display: block;
	background: url(./assets/images/baseline-keyboard_arrow_down-24px.svg) no-repeat;
	border-width: thin;
	font-size: 24px;
}

input[type="date"]::-webkit-inner-spin-button {
	display: none;
}