mixin range-slider
	form(class="form-for-ramge-slider")
		div(class="amount-of-money")
			h3.bold Диапазон цены
		input(type="text" id="example_id" name="example_name" value="")
	.range-slider_description Стоимость за сутки пребывания в номере