@font-face {
  font-family: 'Quicksand-Medium';
  src: url('../assets/fonts/quicksand/quicksand-medium.woff') format('woff'),
    url('../assets/fonts/quicksand/quicksand-medium.ttf') format('ttf'),
    url('../assets/fonts/quicksand/quicksand-medium.svg') format('svg');
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Quicksand-Regular';
  src: url('../assets/fonts/quicksand/quicksand-regular.woff') format('woff'),
    url('../assets/fonts/quicksand/quicksand-regular.ttf') format('ttf'),
    url('../assets/fonts/quicksand/quicksand-regular.svg') format('svg');
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Quicksand-Bold';
  src: url('../assets/fonts/quicksand/quicksand-bold.woff') format('woff'),
    url('../assets/fonts/quicksand/quicksand-bold.ttf') format('ttf'),
    url('../assets/fonts/quicksand/quicksand-bold.svg') format('svg');
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../assets/fonts/open-sans/open-sans-v17-cyrillic_latin-regular.woff')
      format('woff'),
    url('../assets/fonts/open-sans/open-sans-v17-cyrillic_latin-regular.ttf')
      format('ttf'),
    url('../assets/fonts/open-sans/open-sans-v17-cyrillic_latin-regular.svg')
      format('svg');
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('../assets/fonts/open-sans/open-sans-v17-cyrillic_latin-600.woff')
      format('woff'),
    url('../assets/fonts/open-sans/open-sans-v17-cyrillic_latin-600.ttf')
      format('ttf'),
    url('../assets/fonts/open-sans/open-sans-v17-cyrillic_latin-600.svg')
      format('svg');
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../assets/fonts/open-sans/open-sans-v17-cyrillic_latin-700.woff')
      format('woff'),
    url('../assets/fonts/open-sans/open-sans-v17-cyrillic_latin-700.ttf')
      format('ttf'),
    url('../assets/fonts/open-sans/open-sans-v17-cyrillic_latin-700.svg')
      format('svg');
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url('../assets/fonts/open-sans/open-sans-v17-cyrillic_latin-800.woff')
      format('woff'),
    url('../assets/fonts/open-sans/open-sans-v17-cyrillic_latin-800.ttf')
      format('ttf'),
    url('../assets/fonts/open-sans/open-sans-v17-cyrillic_latin-800.svg')
      format('svg');
  font-style: normal;
  font-stretch: normal;
}
