mixin radio-buttons(radioButtonClass)
  form(action="").checkbox-radio
    label.checkbox-radio__container Мужчина
      input(type="radio" name="sex" value="this is a men's world" checked)
      span.checkbox-radio__checkmark
      span.checkbox-radio__checkmark_white
    label.checkbox-radio__container Женщина
      input(type="radio" name="sex" value="but it would be nothing? without woman or a girl")
      span.checkbox-radio__checkmark
      span.checkbox-radio__checkmark_white