.checkbox-radio {
  display: flex;

  &__container {
    display: block;
    position: relative;
    padding-left: 1.81rem;
    margin-left: 1.25rem;
    cursor: pointer;
    font-size: 0.875rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &__container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    margin-right: 0.62rem;
  }

  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.25rem;
    width: 1.25rem;
    background: $dark-shade-025;
    border-radius: 50%;
  }

  &__checkmark_white {
    position: absolute;
    top: 0.06rem;
    left: 0.06rem;
    height: 1.12rem;
    width: 1.12rem;
    background: white;
    border-radius: 50%;
  }

  &__container input:checked~&__checkmark {
    background: linear-gradient(180deg, #BC9CFF, #8BA4F9);
  }

  &__checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  &__container input:checked~&__checkmark:after {
    display: block;
  }

  &__container &__checkmark:after {
    z-index: 100;
    top: 0.25rem;
    left: 0.25rem;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background: linear-gradient(180deg, #BC9CFF, #8BA4F9);
  }
}