@import '../../../styles/headers';

.comments {
  display: grid;
  grid-template-columns: 3.12rem 40.62rem;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;

  &__profile-image {
    margin-top: -0.25rem;
    width: 48px;
    height: 48px;
    &_boy {
      background: url('imgs/boy image.png') center no-repeat;
    }
    &_girl {
      background: url('imgs/girl image.png') center no-repeat;
    }
  }

  &__name {
    @include header_h3(0.87rem, null);
    text-transform: none;
    letter-spacing: 0.01rem;
  }

  &__date {
    font-size: 0.87rem;
    margin-top: 0.5rem;
  }

  &__like-button {
    padding-left: 0.25rem;
  }

  &__description {
    letter-spacing: -0.005rem;
    line-height: 1.5rem;
    width: 40.81rem;
    font-size: 0.87rem;
    margin-top: -0.1rem;
  }
}
