include ../like-button/like-button.pug

mixin comments(img, name, date, likes, check, text)
  .comments
    .comments__profile-photo
      img(src=img alt="Cinque Terre" width="48" height="48").comments__profile-image
    .comments__profile-name
      h3.comments__name= name
      .comments__date= date
    .comments__like-button
      +like-button({value: likes})
    .comments__description= text