.dark-shade-100 {
	fill:  rgba(31,	32,	65, 1);
	width: 150px;
	height: 145px;
}

.dark-shade-075 {
	fill:  rgba(31,	32,	65, 0.75);
	width: 150px;
	height: 145px;
}

.dark-shade-050 {
	// fill:  rgba(31,	32,	65, 0.5);
	// width: 150px;
	// height: 145px;
	color: red;
}

.dark-shade-025 {
	fill:  rgba(31,	32,	65, 0.25);
	width: 150px;
	height: 145px;
}

.dark-shade-005 {
	fill:  rgba(31,	32,	65, 0.05);
	width: 150px;
	height: 145px;
}