//- ul
	//- each val in ['Dark Shade 100%', 'Dark Shade 75%', 'Dark Shade 50%', 'Dark Shade 25%', 'Dark Shade 5%', 'Purple', 'Green']
//- mixin colors-example(nameColor, colorClass)
//- 	div
//- 		div(class=colorClass)
//- 		h2 nameColor
//- 		h2 #1f2041
mixin article(title, color)
	div
		div&attributes(attributes)
		div= title
		div= color