mixin checkbox-rich
	div
		label.checkbox-rich__container.checkbox-rich__margin
			.checkbox-rich__title Широкий коридор
			input(type="checkbox")
			span.checkbox-rich__checkmark
			span.checkbox-rich__checkmark-white
			div.checkbox-rich__description-first Ширина коридоров в номере не менее 91см

		label.checkbox-rich__container.checkbox-rich__margin
			.checkbox-rich__title Помощник для инвалидов
			input(type="checkbox")
			span.checkbox-rich__checkmark
			span.checkbox-rich__checkmark-white
			div.checkbox-rich__description-second На 1 этаже вас встретит специалист и проводит до номера