mixin checkbox-rich
	div
		label.checkbox-buttons_container.checkbox-rich-height
			.bold Широкий коридор
			input(type="checkbox")
			span.checkbox-buttons_checkmark
			span.checkbox-buttons_checkmark-white
			div.rich-checkbox-description-first Ширина коридоров в номере не менее 91см
		label.checkbox-buttons_container.checkbox-rich-height
			.bold Помощник для инвалидов
			input(type="checkbox")
			span.checkbox-buttons_checkmark
			span.checkbox-buttons_checkmark-white
			div.rich-checkbox-description-second На 1 этаже вас встретит специалист и проводит до номера