.checkbox-buttons_container .bold {
	font-size: 14px;
	margin: 0;
	text-transform: none;
}
.rich-checkbox-description-first {
	margin-top: 5px;
	font-size: 12px;
	line-height: 14px;
	color: $dark-shade-050;
	width: 200px;
}
.checkbox-rich-height {
	margin-bottom: 10px;
}
.rich-checkbox-description-second {
	margin-top: 3px;
	font-size: 12px;
	line-height: 14px;
	color: $dark-shade-050;
	width: 230px;
}