@import "colors/color.scss";
@import "fonts/font-montserrat.scss";
@import "fonts/font-quicksand.scss";
@import "fonts/font-body.scss";
@import "fonts/font-h1.scss";
@import "fonts/font-h2.scss";
@import "fonts/font-h3.scss";
@import "blocks/01-elements/fonts-list/fonts-list.scss";
@import "blocks/01-elements/colors-example/colors-example.scss";
@import "blocks/01-elements/text-field/text-field.scss";
@import "blocks/01-elements/checkbox/checkbox-toggle.scss";
@import "blocks/01-elements/checkbox/checkbox-buttons.scss";
@import "blocks/01-elements/checkbox/checkbox-radio.scss";
@import "blocks/01-elements/rate-button/rate-button.scss";
@import "blocks/01-elements/buttons/button-pill_full.scss";
@import "blocks/01-elements/buttons/button-pill_empty.scss";
@import "blocks/01-elements/buttons/button-text.scss";
@import "blocks/01-elements/buttons/button-pill_full-with-arrow.scss";
@import "blocks/01-elements/like-buttons/like-buttons.scss";
@import "blocks/01-elements/dropdown/dropdown.scss"; //скрипты выпадающего списка
@import "blocks/01-elements/checkbox/checkbox-expendable.scss";
@import "blocks/01-elements/pagination/pagination.scss";
@import "blocks/01-elements/bullet-list/bullet-list.scss";
@import "blocks/01-elements/icon-advantages/icon-advantages.scss";
@import "blocks/01-elements/comments/comments.scss";
@import "blocks/header/header.scss";
@import "blocks/footer/footer.scss";
@import "blocks/footer/footer-mobile.scss";