label.like-button_label
	input(type="checkbox").like-button_input
	.like-buttons
		.like-buttons_empty-white
		.like-buttons_div 12
	.material-icons.like-buttons_favorite_border favorite_border
	.material-icons.like-buttons_favorite favorite
