mixin pagination
	//- .bold pagination
	div.pagination
		span.pagination-grid-item#pagination-first-number 1
		span.pagination-grid-item 2
		span.pagination-grid-item 3
		span.pagination-grid-item ..
		span.pagination-grid-item 15
		span.pagination-grid-item.material-icons#span-forward-icon arrow_forward
	div.pagination-description 1 - 12 из 100+ вариантов аренды