.bullet-list {
	position: relative;
	list-style-type :none;
	width: 266px;
	font-size: 14px;
	line-height: 25px;
}
.bullet-list li{
	color: $dark-shade-075;
}

.list-disc {
	position: absolute;
	width: 10px;
	height: 10px;
	background:  $dark-shade-025;
	left: 15px;
	margin-top: 8px;
	border-radius: 50%;
}
