.checkbox-container-list {
	position: relative;
	max-width: 266px;
}

.dropdown-dropbtn {
	background-color: white;
	color: $dark-shade-075;
	cursor: pointer;
	width: 266px;
	height: 44px;
	position: relative;
	outline: none;
	border: none;
	padding: 0;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-btn-icons {
	position: absolute;
	top: 12px;
	right: 10px;
	color: $dark-shade-100;
}

.dropdown-content {
	display: none;
}

.dropdown-show {
	padding-top: 15px;
	display: block;
	top: 44px;
	width: 264px;
	position: absolute;
	min-width: 160px;
	overflow: auto;
	z-index: 1;
	background: white;
}

.dropdown-show label {
	width: fit-content;
}

.checkbox-expendable-list-h3 {
	text-align: left;
	letter-spacing: 0.0em;
}

.checkbox-expendable-margin {
	margin-left: 15px;
}