mixin checkbox-expendable(title)
  .checkbox-expendable
    button(class="checkbox-expendable__drop_btn" class="checkbox-expendable__start") 
      h3.h3_bold.checkbox-expendable__title= title
      span.material-icons.checkbox-expendable__icons keyboard_arrow_down
    .checkbox-expendable__dropdown.checkbox-expendable__dropdown_hide
      label.checkbox-expendable__label.checkbox-expendable__margin Завтрак
        input(type="checkbox" checked)
        span.checkbox-buttons__checkmark
        span.checkbox-buttons__checkmark_white
      label.checkbox-expendable__label.checkbox-expendable__margin Письменный стол
        input(type="checkbox" checked)
        span.checkbox-buttons_checkmark
        span.checkbox-buttons_checkmark-white
      label.checkbox-expendable__label.checkbox-expendable__margin Стул для кормления
        input(type="checkbox")
        span.checkbox-buttons_checkmark
        span.checkbox-buttons_checkmark-white
      label.checkbox-expendable__label.checkbox-expendable__margin Кроватка
        input(type="checkbox")
        span.checkbox-buttons_checkmark
        span.checkbox-buttons_checkmark-white