include ../checkbox-button/checkbox-button.pug

mixin checkbox-expendable({title, textsAndChecked}={})
  .checkbox-expendable
    button(class="checkbox-expendable__drop_btn" class="checkbox-expendable__start") 
      h3.h3_bold.checkbox-expendable__title= title
      span.material-icons.checkbox-expendable__icons keyboard_arrow_down
    .checkbox-expendable__dropdown.checkbox-expendable__dropdown_hide
      each val, index in textsAndChecked
        +checkbox-button(index, val)