@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Regular.woff') format('woff'),
    url('../assets/fonts/Montserrat-Regular.ttf') format('ttf'),
    url('../assets/fonts/Montserrat-Regular.svg') format('svg');
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../assets/fonts/Montserrat-Bold.woff') format('woff'),
    url('../assets/fonts/Montserrat-Bold.ttf') format('ttf'),
    url('../assets/fonts/Montserrat-Bold.svg') format('svg');
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../assets/fonts/Montserrat-Medium.woff') format('woff'),
    url('../assets/fonts/Montserrat-Medium.ttf') format('ttf'),
    url('../assets/fonts/Montserrat-Medium.svg') format('svg');
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../assets/fonts/Montserrat-SemiBold.woff') format('woff'),
    url('../assets/fonts/Montserrat-SemiBold.ttf') format('ttf'),
    url('../assets/fonts/Montserrat-SemiBold.svg') format('svg');
  font-style: normal;
  font-stretch: normal;
}
