@font-face {
  font-family: 'Quicksand';
  src: url('../assets/fonts/Roboto-Regular.woff') format('woff'),
    url('../assets/fonts/Roboto-Regular.ttf') format('ttf'),
    url('../assets/fonts/Roboto-Regular.svg') format('svg');
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Quicksand-Medium';
  src: url('../assets/fonts/Quicksand-Medium.woff') format('woff'),
    url('../assets/fonts/Quicksand-Medium.ttf') format('ttf'),
    url('../assets/fonts/Quicksand-Medium.svg') format('svg');
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Quicksand-Regular';
  src: url('../assets/fonts/Quicksand-Regular.woff') format('woff'),
    url('../assets/fonts/Quicksand-Regular.ttf') format('ttf'),
    url('../assets/fonts/Quicksand-Regular.svg') format('svg');
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Quicksand-Bold';
  src: url('../assets/fonts/Quicksand-Bold.woff') format('woff'),
    url('../assets/fonts/Quicksand-Bold.ttf') format('ttf'),
    url('../assets/fonts/Quicksand-Bold.svg') format('svg');
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Quicksand-Medium';
  src: url('../assets/fonts/Roboto-Medium.woff') format('woff'),
    url('../assets/fonts/Roboto-Medium.ttf') format('ttf'),
    url('../assets/fonts/Roboto-Medium.svg') format('svg');
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../assets/fonts/open-sans-v17-cyrillic_latin-regular.woff')
      format('woff'),
    url('../assets/fonts/open-sans-v17-cyrillic_latin-regular.ttf')
      format('ttf'),
    url('../assets/fonts/open-sans-v17-cyrillic_latin-regular.svg')
      format('svg');
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('../assets/fonts/open-sans-v17-cyrillic_latin-600.woff')
      format('woff'),
    url('../assets/fonts/open-sans-v17-cyrillic_latin-600.ttf') format('ttf'),
    url('../assets/fonts/open-sans-v17-cyrillic_latin-600.svg') format('svg');
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../assets/fonts/open-sans-v17-cyrillic_latin-700.woff')
      format('woff'),
    url('../assets/fonts/open-sans-v17-cyrillic_latin-700.ttf') format('ttf'),
    url('../assets/fonts/open-sans-v17-cyrillic_latin-700.svg') format('svg');
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url('../assets/fonts/open-sans-v17-cyrillic_latin-800.woff')
      format('woff'),
    url('../assets/fonts/open-sans-v17-cyrillic_latin-800.ttf') format('ttf'),
    url('../assets/fonts/open-sans-v17-cyrillic_latin-800.svg') format('svg');
  font-style: normal;
  font-stretch: normal;
}
