h3 {
	font-family: "Montserrat-SemiBold", Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 0.75rem;
	margin: 0;
	letter-spacing: 0.01em;
}

.bold {
	font-family: "Montserrat-Bold", Arial, sans-serif;
	text-transform: uppercase;
	font-size: 0.75rem;
	margin: 0;
}