@import '../../../01_colors_&_fonts/color.scss';

.booking {
  width: 23.75rem;
  height: 31.937rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 0.06rem solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0rem 0rem 1.56rem rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;

  &__head {
    display: flex;
    justify-content: space-between;
    margin-top: 3.125rem;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 0.875rem;
    position: relative;
    color: $dark-shade-075;
  }

  &__tytle {
    height: 1rem;
  }

  &__symbol {
    font-size: 0.875rem;
    margin-left: 0.7rem;
    font-family: 'Montserrat', Arial, sans-serif;
    position: absolute;
    top: 0rem;
    left: -1.375rem;
  }

  &__number {
    margin-left: 0.187rem;
    font-size: 1.437rem;
    line-height: 0;
    position: absolute;
    top: 0.31rem;
    left: 0.5rem;
    letter-spacing: 0.03em;
    font-family: 'Quicksand-Bold', Arial, sans-serif;
  }

  &__lux {
    color: $purple;
    position: absolute;
    top: 0.06rem;
    left: 3.68rem;
  }

  &__price {
    top: -0.94rem;
    color: rgba(31, 32, 65, 0.5);
    position: absolute;
    right: 2.5rem;
    font-family: 'Montserrat-SemiBold', Arial, sans-serif;
  }

  &__per-day {
    color: rgba(31, 32, 65, 0.5);
    position: absolute;
    right: -0.687rem;
    top: 0.06rem;
    letter-spacing: -0.05em;
    font-size: 0.81rem;
  }

  &__pick-date {
    position: relative;
    margin-top: 1.437rem;
    margin-bottom: 0.31rem;
    font-family: 'Montserrat-Bold', Arial, sans-serif;
    margin-left: -0.06rem;
  }

  &__arrival {
    font-family: 'Montserrat-Bold', Arial, sans-serif;
    margin-left: 0.02rem;
  }

  &__departure {
    font-family: 'Montserrat-Bold', Arial, sans-serif;
    position: absolute;
    right: 6.5rem;
    top: 0rem;
  }

  &__guests_title {
    font-family: 'Montserrat-Bold', Arial, sans-serif;
    margin-left: -0.06rem;
    margin-top: 1rem;
    margin-bottom: 0.187rem;
  }

  &__text {
    display: flex;
    justify-content: space-between;
    margin-top: 1.4rem;
    margin-left: 0.06rem;
    margin-right: -0.06rem;
    position: relative;
    font-size: 0.87rem;
    font-family: 'Montserrat-Medium', Arial, sans-serif;
    letter-spacing: -0.005rem;
  }

  &__text_fee {
    display: flex;
    justify-content: space-between;
    margin-top: 1.11rem;
    margin-left: 0.06rem;
    margin-right: -0.06rem;
    position: relative;
    font-size: 0.87rem;
    font-family: 'Montserrat-Medium', Arial, sans-serif;
    letter-spacing: -0.005rem;
  }

  &__align_left {
    max-width: 70%;
  }

  &__align_center {
    color: $dark-shade-025;
    transform: rotate(180deg);
    position: absolute;
    top: -0.25rem;
    right: 4.87rem;
  }

  &__align_right {
    margin-right: 0.1rem;
  }

  &__total {
    display: grid;
    grid-template-columns: 20% 53% 30%;
    font-size: 0.81rem;
    margin-top: 2.15rem;
    margin-right: -0.06rem;
  }

  &__total_border {
    border-bottom: 0.06rem dotted $dark-shade-050;
    position: relative;
    top: -0.25rem;
  }

  &__total_price {
    justify-self: end;
    font-family: 'Montserrat-Medium', Arial, sans-serif;
    font-size: 1.12rem;
    transform: SCALEX(0.9);
    margin-right: 0.4rem;
    letter-spacing: 0.05rem;
  }

  &__button {
    margin-top: 1.28rem;
    margin-left: 0rem;
    margin-right: -0.06rem;
    position: relative;
  }
}
