include ../../blocks/iqdropdown/iqdropdown.pug
include ../../blocks/button/button.pug
include ../../blocks/calendar/calendar.pug

mixin booking-room
  .booking
    header.booking__head
      .booking__tytle
        h3.booking__symbol №
        h2.booking__number 888
        h3.booking__lux люкс
      div
        p.booking__price 9 990₽
        span.booking__per-day в сутки

    .booking__pick-date
      h3.booking__arrival Прибытие
      h3.booking__departure Выезд
      +calendar("19.08.2019", "23.08.2019", "#datepicker", "duble")

    .booking__guests
      h3.booking__guests_title Гости
      .booking__dropdown
        +iqdropdown({arr:["Взрослые", "Дети", "Младенцы"], classForJs:"js-iqdropdown_people"})

    .booking__text
      span.booking__align_left 9 990₽ х 4 суток
      span.booking__align_right 39 960₽

    .booking__text_fee
      span.booking__align_left Сбор за услуги: скидка 2 179₽
      span.material-icons.booking__align_center error_outline
      span.booking__align_right 0₽

    .booking__text_fee
      span.booking__align_left Сбор за дополнительные услуги
      span.material-icons.booking__align_center error_outline
      span.booking__align_right 300₽

    .booking__total
      h2 Итого
      .booking__total_border
      h2.booking__total_price 38 081₽
    form(action="./landing.html").booking__button
      +button({
        text: "Забронировать",
        color: "purple",
        arrow: "enable"
      })
