.footer-mobile
	img(src="../../../../src/UI-kit/pic/logo.png", alt="" width="105" height="40")
	div.
		Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.

	.footer-icons-mobile
		img(src="../../../../src/UI-kit/pic/icon-twitter.png", alt="")
		img(src="../../../../src/UI-kit/pic/icon-facebook.png", alt="")
		img(src="../../../../src/UI-kit/pic/icon-instagram.png", alt="")