.footer {
	display: flex;
	width: 1440px;
	height: 272px;
	padding-top: 100px;
	// justify-content: center;
	font-size: 14px;
}

.footer-block {
	display: grid;
	max-width: 260px;
	grid-template-rows: 58px auto auto;
	max-height: 215px;
	color: rgba(31, 32, 65, 0.75);
	margin-left: 140px;
	line-height: 24px;
}
.footer-block h3 {
	margin: 0;
	font-family: "Montserrat-SemiBold", Arial, sans-serif;
}
.footer-block-nav {
	display: grid;
	grid-template-rows: 36px 38px 38px 38px
}
.footer-block-nav h3 {
	margin: 0;
	font-family: "Montserrat-SemiBold", Arial, sans-serif;
}
.footer-block-nav a {
	text-decoration:none;
	color: $dark-shade-075;
}
.footer-block-nav-first {
	margin-left: 41px;
  padding-top: 4px;
}
.footer-block-nav-other {
	margin-left: 55px;
	grid-template-columns: 150px;
	padding-top: 4px;
 }
.footer-block a{
	display: block;
}
.footer-block-last {
	margin-left: 50px;
	grid-template-rows: 38px 71px 38px 38px;
	line-height: 23px;
}
.footer-social {
	display: flex;
	justify-content: space-between;
	width: 1440px;
	height: 70px;
	align-items: center;
	font-size: 14px;
	border-top: 1px solid $dark-shade-020;
}
.footer-copyright {
margin-left: 9.7%
}
.footer-icons{
	margin-right: 9.7%;
	display: grid;
	grid-template-columns: 24px 24px 24px;
	grid-column-gap: 20px;
}
.footer-block-nav-other-second {
	margin-left: 50px;
	grid-template-columns: 150px;
	padding-top: 4px;
}
// :nth-of-type()

// .footer-block-nav .footer-block-nav-other:last-of-type {
// 	background: blanchedalmond;
// }