.footer-mobile
	img(src="imgs/logo.png", alt="" width="105" height="40")
	div.
		Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.

	.footer-icons-mobile
		img(src="imgs/icon-twitter.png", alt="")
		img(src="imgs/icon-facebook.png", alt="")
		img(src="imgs/icon-instagram.png", alt="")