mixin footer
	.footer
		.footer-block
			img(src="../../../../src/UI-kit/pic/logo.png", alt="" )
			div.
					Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
		.footer-block-nav.footer-block-nav-first
			h3 Navigation
			a(href="#") About Us
			a(href="#") News
			a(href="#") Support
			a(href="#") Products
		.footer-block-nav.footer-block-nav-other
			h3 About Us
			a(href="#") Who we are
			a(href="#") Our team
			a(href="#") Careers
			a(href="#") Investors
		.footer-block-nav.footer-block-nav-other
			h3 Support
			a(href="#") Documentation
			a(href="#") Community
			a(href="#") Get in Touch
		.footer-block.footer-block-last
			h3 Subscribe to our Newsletter
			div Receive our latest news and promotions in your inbox!
			+form-email("email", "Your email adress")
	.footer-social
		.footer-copyright Copyright © 2018 Toxin UI Kit. All rights reserved.
		.footer-icons
			img(src="../../../../src/UI-kit/pic/icon-twitter.png", alt="")
			img(src="../../../../src/UI-kit/pic/icon-facebook.png", alt="")
			img(src="../../../../src/UI-kit/pic/icon-instagram.png", alt="")