mixin pick-up-numbers
	//- inclide ../01-elements/dropdown/dropdown-subparagraph.pug
	.pick-up-numbers-card
		.pick-up-numbers-card-title
			h2 Найдем номера под ваши желания
		.pick-up-numbers-card-arrival
			h3 Прибытие - выезд
			input(type="text"  data-range="true" data-multiple-dates-separator=" - " class="datepicker-here pick-up-numbers-card-arrival-wid" data-position="right top")
		div.pick-up-numbers-card-quests
			h3 Гости
			+dropdown-people
		.pick-up-numbers-card-button
			+button-fill-arrow("подобрать номер")
