mixin impressions({title, voiceNumber, bulletListBuild, bulletList, type})
  .impressions
    h2.impressions__title= title
    .impressions__circle
      .impressions__circle_info
        .impressions__circle_info_number= voiceNumber
        .impressions__circle_info_text голосов
      .impressions__circle_part
        .impressions__circle_part_left-top
        .impressions__circle_part_left-bottom
        .impressions__circle_part_right-top
        .impressions__circle_part_right-bottom
    .impressions__bullet-list
      each obj in bulletListBuild 
        +bullet-list(obj.color , obj.impression, obj.margin, obj.type)