.rectangle {
	width: 6.25rem;
	height: 6.25rem;
	border-radius: 0.37rem;
}

.dark-shade-100 {
	background: $dark-shade-100;
}

.dark-shade-075 {
	background:  $dark-shade-075;
}

.dark-shade-050 {
	background: $dark-shade-050;
}

.dark-shade-025 {
	background:  $dark-shade-025;
}

.dark-shade-005 {
	background:  $dark-shade-005;
}

.purple {
	background:  $purple;
}

.green {
	background:  $green;
}