.button-pill__empty_short {
  margin-top: 0.125rem;
  color: #bc9cff;
  background: white;
  border: none;
  height: 2.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 1.375rem;
  position: relative;
  left: -0.1rem;
  font-size: 0.687rem;
  letter-spacing: 0.05rem;
  font-family: 'Montserrat-SemiBold', Arial, sans-serif;
  padding: 0 1.5rem;
  text-transform: uppercase;

  &:before {
    content: '';
    position: absolute;
    width: 104%;
    height: 2.75rem;
    background: linear-gradient(180deg, #bc9cff, #8ba4f9);
    border-radius: 1.375rem;
    left: -0.125rem;
    top: -0.125rem;
    z-index: -1;
  }
}
