.button-pill__empty {
  color: #BC9CFF;
  background: white;
  border: none;
  height: 1.85rem;
  text-align: center;
  cursor: pointer;
  border-radius: 1.375rem;
  position: relative;
  font-size: 0.685rem;
  letter-spacing: 0.05rem;
  font-family: "Montserrat-SemiBold", Arial, sans-serif;
  padding: 0 1.187rem;
  text-transform: uppercase;
}

.button-pill__empty:before {
  content: "";
  position: absolute;
  width: 104%;
  height: 2.125rem;
  background: linear-gradient(180deg, #BC9CFF, #8BA4F9);
  border-radius: 1.375rem;
  left: -0.125rem;
  top: -0.125rem;
  z-index: -1;
}