.form__name {
	height: 46px;

	&_border {
		border: 1px solid $dark-shade-025;
		border-radius: 6px;
	}

	&_sing-up {
		width: 320px;
		height: 44px;
		border: 1px solid rgba(31, 32, 65, 0.25);
		box-sizing: border-box;
		border-radius: 4px;
		padding-left: 15px;
	}

	&_sing-in {
		width: 318px;
		height: 44px;
		border: 1px solid rgba(31, 32, 65, 0.25);
		box-sizing: border-box;
		border-radius: 4px;
		margin: 10px 0 0 0;
		padding-left: 16px;
	}
}