@import '../../../01_colors_&_fonts/color.scss';

.like-button {
  position: relative;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;

  &__background {
    z-index: 1;
    background: linear-gradient(180deg, $dark-shade-025, $dark-shade-025);
    border: none;
    color: $dark-shade-025;
    padding: auto;
    width: 2.5rem;
    height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 1.37rem;
    position: relative;
  }

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &__input:checked ~ &__background {
    background: linear-gradient(180deg, $purple, #8ba4f9);
  }

  &__empty-white {
    z-index: 2;
    position: absolute;
    background: white;
    width: 2.37rem;
    height: 1.12rem;
    left: 0.07rem;
    top: 0.06rem;
    border-radius: 0.62rem;
  }

  &__num {
    z-index: 3;
    position: absolute;
    top: 0.25rem;
    right: 0.68rem;
    font-weight: 500;
    font-size: 0.62rem;
  }

  &__favorite_border {
    z-index: 5;
    font-size: 0.62rem;
    position: absolute;
    top: 0.06rem;
    left: 0.31rem;
    color: $dark-shade-025;
  }

  &__favorite {
    z-index: 6;
    font-size: 0.62rem;
    position: absolute;
    top: 0.06rem;
    left: 0.31rem;
    display: none;
    color: $purple;
  }

  &__input:checked ~ &__favorite {
    display: block;
  }
  &__input:checked ~ &__favorite_border {
    display: none;
  }
}
