mixin like-button(data)
  - data = data ? data : { value: 12 }
  label.like-button
    input(type="checkbox").like-button__input
    .like-button__background
      .like-button__empty-white
      .like-button__num= data.value
    .like-button__favorite_border.material-icons favorite_border
    .like-button__favorite.material-icons favorite
