include ../../components/blocks/header/header.pug
include ../../components/blocks/footer/footer.pug

doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		block meta-keywords
		block meta-description
		block title
	body.base-page
		block header
			header.base-header
				+header("ВОЙТИ", "ЗАРЕГИСТРИРОВАТЬСЯ")
		block main
		block footer
			footer.base-footer
				+footer