include ../../elements/button-pill__full_arrow/button-pill__full_arrow.pug
include ../../../vendor/dropdown/dropdown-subparagraph.pug
include ../../elements/calendar/calendar.pug

mixin pick-up-numbers
  article.pick-up-numbers
    header
      h2.pick-up-numbers__title Найдём номера под ваши пожелания
    section.pick-up-numbers__container
      h3.pick-up-numbers__arrival Прибытие
      h3.pick-up-numbers__departure Выезд

      label.pick-up-numbers__calendar
        +calendar("ДД.ММ.ГГГГ", "ДД.ММ.ГГГГ", "#datepicker", "duble")

    section
      h3.pick-up-numbers__quest Гости
      .pick-up-numbers__dropdown
        +dropdown-people
    .pick-up-numbers__button
      +button-pill__full_arrow("подобрать номер", "./search.html")
