mixin calendar(arrivalDate, departureDate, id, type )
  - var arrivalDate = arrivalDate ? arrivalDate : "ДД.ММ.ГГГГ"
  - var departureDate = departureDate? departureDate : "ДД.ММ.ГГГГ"
  - var id = id ? id : "datepicker"
  - var type = type ? type : "duble"

  if (type == "duble")
    form(action="")
      label.calendar
        input(type="checkbox" id="js-datepicker__duble" data-range="true" data-multiple-dates-separator=" - " clearButton="true" class="datepicker-here" data-position="bottom left").calendar__datepicker
        .calendar__arrival-date
          div.calendar__date= arrivalDate
          span.material-icons.calendar__icon expand_more
        .calendar__departure-date
          div.calendar__date= departureDate
          span.material-icons.calendar__icon expand_more

  if (type == "single")
    form(action="")
      label.calendar__single
        input(type="checkbox" id="js-datepicker__single" data-multiple-dates-separator=" - " data-range="true" class=`datepicker-here` data-position="bottom left").calendar__single-field
        .calendar__range
          div.calendar__date= arrivalDate
        span.material-icons.calendar__icon expand_more

  if (type == "birthday")
    form(action="")
      label.calendar__single
        input(type="text" id="js-datepicker__birthday" value= arrivalDate).calendar__birthday