include ../../elements/button-pill__empty/button-pill__empty.pug
include ../../elements/button-pill__full/button-pill__full.pug

mixin header(buttonTextOne, buttonTextTwo)
  - var links = [{types:"simple", link:"", text:"О нас"},{types:"arrow", link:"", text:"Услуги"},{types:"simple", link:"", text:"Вакансии"},{types:"simple", link:"", text:"Новости"},{types:"arrow", link:"", text:"Соглашения"}]

  .header
    a(href="./landing.html").header__image
      img(src="imgs/Logo.png" alt="" )
    nav.header__menu
      ul.header__list
        each i in links
          if i.types == "simple"
            li.header__point
              a(href=i.link).header__link= i.text
          else if i.types == "bold"
            li.header__point
              a(href=i.link).header__link.bold= i.text
          else if i.types=="arrow"
            li.header__point
              .header__dropdown
                span.header__link= i.text
                span.material-icons keyboard_arrow_down
      .header__button
        +button-pill__empty(buttonTextOne, "./registration-sign-in.html")
        +button-pill__full(buttonTextTwo, "./registration-sign-up.html")