@import '../../../01_colors_&_fonts/color.scss';

.button-pill__empty_short {
  margin-top: 0.125rem;
  color: $purple;
  background: white;
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: 1.375rem;
  position: relative;
  font-size: 0.687rem;
  letter-spacing: 0.05rem;
  font-family: 'Montserrat-SemiBold', Arial, sans-serif;
  padding: 0.72rem 1.5rem;
  text-transform: uppercase;

  &:before {
    content: '';
    position: absolute;
    padding-left: 103%;
    height: 2.7rem;
    background: linear-gradient(180deg, $purple, #8ba4f9);
    border-radius: 1.375rem;
    left: -1.7%;
    top: -5.2%;
    z-index: -1;
  }
}
