.button-pill__empty {
  color: #bc9cff;
  background: white;
  border: none;
  height: 1.85rem;
  text-align: center;
  cursor: pointer;
  border-radius: 1.375rem;
  position: relative;
  font-size: 0.685rem;
  letter-spacing: 0.05rem;
  font-family: 'Montserrat-SemiBold', Arial, sans-serif;
  padding: 0 1.187rem;
  text-transform: uppercase;

  &:before {
    content: '';
    position: absolute;
    padding-left: 104%;
    height: 2.125rem;
    background: linear-gradient(180deg, #bc9cff, #8ba4f9);
    border-radius: 1.375rem;
    left: -2%;
    top: -6%;
    z-index: -1;
  }
}
