extends ../registration__basis/registration__basis.pug

include ../../components/complexBlocks/sign-up/sign-up.pug

block meta-keywords
  meta(name="keywords" content="sign up")
block meta-description
  meta(name="description" content="Зарегистрировавшись, подобрать подходящий номер.")
block page-name
  title Sign up
block registration-image
  .registration__background-up
    img(src="imgs/registration-background-image-interior.png" alt="apartment image").registration__background-up_image
block sing-up
  +sign-up