.registration {
  &__background-up {
    overflow: hidden;
    position: relative;
    &_image {
      background: url('imgs/registration-background-image-interior.png') center
        no-repeat;
      position: relative;
      top: -2.81rem;
      left: 0rem;
      transform: scaleY(1.07);
      width: 90rem;
      height: 45.12rem;
      margin-bottom: -1.56rem;
    }
  }
}
