.registration__background-up {
  overflow: hidden;
  position: relative;
}

.registration__background-up_image {
  position: relative;
  top: -2.81rem;
  left: 0rem;
  transform: scaleY(1.07);
  width: 90rem;
  height: 45.12rem;
  margin-bottom: -1.56rem;
}