.button__text {
  background-color: none;
  border: none;
  color: $dark-shade-050;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1rem;
  margin: 0.25rem 0.125rem;
  opacity: 0.6;
  transition: 0.3s;

  &:hover {
    opacity: 1;
    color: #bc9cff;
  }
}
