mixin checkbox-radio(array)
  form(action="").checkbox-radio
    each name in array
      label.checkbox-radio__container= name
        input(type="radio" name="gender" value=name checked).checkbox-radio__input
        span.checkbox-radio__checkmark
        span.checkbox-radio__checkmark_white