.hotel-room-card {
	width: 270px;
	height: 257.5px;
	background: #FFFFFF;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	border-radius: 4px;
	position: relative;
}
.hotel-room-card img {
 border-top-left-radius: 4px;
 border-top-right-radius: 4px;
 cursor: pointer;
 width: 270px
}
.hotel-room-text{
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 14px;
}
.hotel-room-text .lux {
	color: $purple;
}
.hotel-room-text > div{
	display: flex;
	align-items: flex-end;
}

.hotel-room-text > div p{
	margin: 0;
	padding: 0;
	color: $dark-shade-075;
}
.hotel-room-text > div span{
	margin: 0;
	padding: 0;
	color: $dark-shade-025;
}

.hotel-room-raiting {
	display: flex;
	justify-content: space-between;
	margin: 10px 3% 0 3%;
	padding-top: 10px;
	border-top: 1px solid $dark-shade-025;
}
.hotel-room-raiting-review{
display: grid;
grid-template-columns: 20px auto;
font-size: 14px;
align-items: baseline;
color: $dark-shade-050;
}

.hotel-room-circle {
	display: flex;
	position: absolute;
	top: 127px;
	right: 15px;
	cursor: pointer;

}
.hotel-room-circle div{
	width: 6.5px;
	height: 6.5px;
	border: 1px solid white;
	border-radius: 50%;
	z-index: 1;
	margin-left: 4px;

}
.hotel-room-circle div:first-child {
	background-color: white;
}