include ../../blocks/social-network/social-network.pug

mixin footer-mobile
  .footer-mobile
    img(src=require("./../../components/complexBlocks/footer-mobile/imgs/logo.png") alt="Toxin label").footer-mobile__image
    .footer-mobile__text.
      Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.

    .footer-mobile__icons
      +social-network("twitter")
      +social-network("facebook")
      +social-network("instagram")