include ../../blocks/social-network/social-network.pug

mixin footer-mobile
  .footer-mobile
    img(src="imgs/logo.png" alt="Toxin label" width="105" height="40")
    div.footer-mobile__text.
      Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.

    .footer-mobile__icons
      +social-network("twitter")
      +social-network("facebook")
      +social-network("instagram")