.footer-mobile {
  width: 90rem;
  height: 22.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__text {
    margin-top: 1.25rem;
    max-width: 35rem;
    text-align: center;
    font-size: 0.875rem;
  }

  &__icons {
    margin-top: 0.875rem;
    display: grid;
    grid-template-columns: 1.5rem 1.5rem 1.5rem;
    grid-column-gap: 1.25rem;
  }
}
