mixin header(buttonOne, buttonTwo)
	- var links = [{types:"simple", link:"", text:"О нас"},{types:"arrow", link:"", text:"Услуги"},{types:"simple", link:"", text:"Вакансии"},{types:"simple", link:"", text:"Новости"},{types:"arrow", link:"", text:"Соглашения"}]

	.header
		img(src="imgs/Logo.png", alt="")
		div
			ul.nav
				each i in links
						if i.types == "simple"
							li
								a(href=i.link).nav-link= i.text
						else if i.types == "bold"
							li
								a(href=i.link class= " nav-link bold")= i.text
						else if i.types=="arrow"
							li
								div.header-dropdown-list
									span.nav-link= i.text
									span.material-icons keyboard_arrow_down
			div.header-button
				+button-pill_empty(buttonOne)
				+button-pill_full(buttonTwo)