.header {
	display: flex;
	width: 1440px;
	height: 70px;
	justify-content: space-between;
}

.header img {
	width:106px;
	 height:40px;
	 margin: auto 0 auto 140px;
}
.header > div {
	margin: auto 140px auto 0;
	display: flex;
}
.header ul {
	display: flex;

}
.header ul li {
padding-left: 10px;
list-style-type: none;
}
.header ul li a, .header span.nav-link{
text-decoration:none;
color: $dark-shade-075;	
}

.nav-link {
	margin: 0;
	padding: 0;
}
.header-dropdown-list {
	display: inline-flex;
}
.header ul li .material-icons {
	font-size: 24px;
	position: relative;
  top: -1px;
  height: 0px;
}
.header-button {
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	column-gap: 15px;
	padding-left: 15px;
}

.header-login-name {
	margin: auto;
	border-left: 1px solid $dark-shade-010;
	padding-left: 30px;
	margin-left: 30px;
	color: $dark-shade-075;
}