- var links = [{types:"bold", link:"", text:"Home"},{types:"simple", link:"", text:"About Us"},{types:"arrow", link:"", text:"Services"},{types:"simple", link:"", text:"Careers"},{types:"simple", link:"", text:"News"},{types:"simple", link:"", text:"Documentation"}]
.header
	img(src="imgs/logo.png", alt="" )
	//- src\UI-kit\pic\Logo.png
	div
		ul.nav
			each i in links
					if i.types == "simple"
						li
							a(href=i.link).nav-link= i.text
					else if i.types == "bold"
						li
							a(href=i.link class= " nav-link bold")= i.text
					else if i.types=="arrow"
						li
							div.header-dropdown-list
								span.nav-link= i.text
								span.material-icons keyboard_arrow_down
		.header-login-name Cosmin Negoita
