mixin fonts-list
  h1.fonts-list.fonts-list__header_h1 H1
  h1.fonts-list__header_h1 This one is the sub-section or widget title
  h2.fonts-list.fonts-list__header_h2 H2
  h2.fonts-list__header_h2  Next one is the item title inside widgets
  h3.fonts-list.fonts-list__header_h3 H3
  h3.fonts-list__header_h3 This is a label or CTA text
  .fonts-list body
  div This is the body text which is used for most of the design, like paragraphs, lists, etc.