.checkbox-button {
  &__container {
    width: 13.125rem;
    display: block;
    position: relative;
    padding-left: 1.937rem;
    margin-bottom: 0.812rem;
    cursor: pointer;
    font-size: 0.875rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Montserrat', Arial, sans-serif;
  }

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &__checkmark {
    position: absolute;
    top: -0.125rem;
    left: 0;
    height: 1.25rem;
    width: 1.25rem;
    background: $dark-shade-025;
    border-radius: 0.28rem;
  }

  &__checkmark:after {
    content: '';
    position: absolute;
    display: none;
    z-index: 100;
    left: 0.625rem;
    top: 0.375rem;
    width: 0.125rem;
    height: 0.43rem;
    background-image: linear-gradient(180deg, #bc9cff, #8ba4f9);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &__checkmark:before {
    content: '';
    position: absolute;
    display: none;
    z-index: 110;
    left: 0.43rem;
    top: 0.5rem;
    width: 0.125rem;
    height: 0.31rem;
    background-image: linear-gradient(180deg, #bc9cff, #8ba4f9);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  &__checkmark_white {
    position: absolute;
    top: -0.06rem;
    left: 0.08rem;
    height: 1.12rem;
    width: 1.12rem;
    background: white;
    border-radius: 0.2rem;
  }

  &__input:checked ~ &__checkmark {
    background: linear-gradient(180deg, #bc9cff, #8ba4f9);
  }

  &__input:checked ~ &__checkmark:after {
    display: block;
  }

  &__input:checked ~ &__checkmark:before {
    display: block;
  }
}
