mixin button({action, text, element, size, color})
  if (element === "arrow_enable")
    - var element = "material-icons button__arrow_enable";
  else
    - var element - "button__arrow_disable";

  if (sizeModificator === "short")
    - var size = "button_size_short";
  else
    - var size = "button_size_normal";

  if (colorModificator === "white")
    - var color = "button_color_white";
  else
    - var color = "button_color_purple";

  form(action=action)
    button
      h3(class=`${size} ${color}`).button= text
      div(class = element)= arrow_forward