$dark-shade-100: rgba(31,	32,	65, 1);
$dark-shade-075: rgba(31,	32,	65, 0.75);
$dark-shade-050: rgba(31,	32,	65, 0.5);
$dark-shade-025: rgba(31,	32,	65, 0.25);
$dark-shade-020: rgba(31,	32,	65, 0.20);
$dark-shade-010: rgba(31,	32,	65, 0.10);
$dark-shade-005: rgba(31,	32,	65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;