.room-detail {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90rem;
  background-color: white;
  margin: auto;
  border-bottom: 0.06rem solid rgba(31, 32, 65, 0.1);

  &__picture {
    display: grid;
    grid-template-columns: 61.31rem 28.68rem;
    grid-template-rows: 15.18rem 15.12rem;
  }

  &__picture_left {
    grid-row: 1/3;
  }

  &__picture_right {
    grid-row: 1/3;
    grid-column: 2/3;
  }

  &__info {
    display: flex;
    margin-bottom: 0.15rem;
  }

  &__info_section,
  &__booking-room {
    margin: 4.37rem 2.18rem;
  }

  &__info_grid {
    display: grid;
    grid-template-columns: 22.25rem 22.25rem;
    grid-template-rows: 17.6rem 22rem auto;
  }

  &__about-room_title {
    font-size: 1.2rem;
    margin-left: 0.08rem;
    margin-top: 0.1rem;
    letter-spacing: -0.003rem;
  }

  &__impressions {
    position: relative;
  }

  &__impressions_title {
    font-size: 1.18rem;
    margin-left: 0.4rem;
    margin-top: 0.06rem;
    letter-spacing: 0.006rem;
  }

  &__impressions_circle {
    position: relative;
    top: 1.4rem;
    left: 0.4rem;
  }

  &__impressions_circle_info {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 7.56rem;
    height: 7.5rem;
    z-index: 1;
    color: $purple;
  }

  &__impressions_circle_info_number {
    font-weight: 500;
    font-size: 1.5rem;
    font-family: 'Quicksand-Medium', Arial, sans-serif;
    line-height: 1.56rem;
    padding-left: 0.12rem;
  }

  &__impressions_circle_info_text {
    padding-left: 0.12rem;
  }

  &__impressions_circle_part {
    width: 7.56rem;
    height: 7.5rem;
    position: relative;
  }

  &__impressions_circle_part_left-top {
    background: linear-gradient(0deg, #ffcd9c, #ffe39c);
    border-top-left-radius: 100%;
    position: absolute;
    top: 0rem
    width: 3.75rem;
    height: 3.75rem;
  }

  &__impressions_circle_part_left-top::after {
    content: '';
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    background: white;
    top: 0.25rem;
    left: 0.25rem;
    border-top-left-radius: 100%;
  }

  &__impressions_circle_part_left-bottom {
    background: linear-gradient(0deg, #ffba9c, #ffcd9c);
    border-bottom-left-radius: 100%;
    position: absolute;
    bottom: 0rem;
    width: 3.75rem;
    height: 3.75rem;
  }

  &__impressions_circle_part_left-bottom::after {
    content: '';
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    background: white;
    left: 0.25rem;
    border-bottom-left-radius: 100%;
  }

  &__impressions_circle_part_right-top {
    background: linear-gradient(0deg, #8ba4f9, #bc9cff);
    border-top-right-radius: 100%;
    width: 3.68rem;
    height: 3.68rem;
    position: absolute;
    top: 0rem;
    right: 0.1rem;
  }

  &__impressions_circle_part_right-top::after {
    content: '';
    position: absolute;
    width: 3.06rem;
    height: 3.06rem;
    background: white;
    top: 0.62rem;
    border-top-right-radius: 100%;
  }

  &__impressions_circle_part_right-bottom {
    background: linear-gradient(0deg, #66d2ea, #6fcf97);
    border-bottom-right-radius: 100%;
    width: 3.68rem;
    height: 3.68rem;
    position: absolute;
    bottom: 0rem;
    right: 0.1rem;
  }

  &__impressions_circle_part_right-bottom::after {
    content: '';
    position: absolute;
    width: 3.43rem;
    height: 3.43rem;
    background: white;
    border-bottom-right-radius: 100%;
  }

  &__impressions_bullet-list {
    position: absolute;
    top: 3.56rem;
    left: 8.17rem;
  }

  &__impressions_bullet-list .bullet-list {
    line-height: 1.5rem;
  }

  &__rules_bullet .bullet-list__disc {
    left: 0rem;
    margin-top: 1rem;
  }

  &__rules_bullet .bullet-list {
    margin: 0rem;
    padding-left: 1.3rem;
    padding-top: 0.63rem;
    width: 15rem;
    letter-spacing: -0.005rem;
  }

  &__rules_bullet .bullet-list .bullet-list__disc {
    left: 0rem;
    margin-top: 0.4rem;
    width: 0.65rem;
    height: 0.65rem;
  }

  &__rules_title {
    padding-left: 1.33rem;
    padding-top: 0.5rem;
    font-size: 1.187rem;
    text-transform: none;
    padding-bottom: 0.5rem;
  }

  &__cancel_title {
    padding-left: 0.4rem;
    padding-top: 0.5rem;
    font-size: 1.18rem;
  }

  &__cancel_text {
    padding-left: 0.3rem;
    padding-top: 0.1rem;
    letter-spacing: -0.075rem;
    width: 21.25rem;
    line-height: 1.5rem;
  }

  &__comments {
    grid-column: 1/3;
  }

  &__comments .comments {
    margin-top: 1.5rem;
    margin-bottom: 1.6rem;
  }

  &__comments_title {
    display: flex;
    justify-content: space-between;
    margin: 1.42rem 0 0 0;
  }

  &__comments_title_h2 {
    font-size: 1.18rem;
    padding-left: 0.03rem;
    letter-spacing: 0.007rem;
  }

  &__comments_title_span {
    padding-top: 0.28rem;
    color: $dark-shade-075;
    letter-spacing: -0.06rem;
  }
}
