extends ../basis/basis.pug

include ../../components/blocks/comments/comments.pug
include ../../components/blocks/icon-advantages/icon-advantages.pug
include ../../components/blocks/bullet-list/bullet-list.pug

include ../../components/complexBlocks/impressions/impressions.pug
include ../../components/complexBlocks/booking/booking.pug

block meta-keywords
  meta(name="keywords" content="TOXIN, hotels, room detail, choose")
block meta-description
  meta(name="description" content="Номер отеля, оценить, выбрать, отзывы, преимущества")
block title
  title Room detail
block main
  .room-detail
    article.room-detail__picture
      .room-detail__picture_left
        img(src=("imgs/room-details-1.png") alt="not nice eclectic interior").room-detail__image_left
      .room-detail__picture_right
        img(src="imgs/room-details-2-1.png" alt="not nice eclectic interior, more then other pictures").room-detail__image_right-top
        img(src="imgs/room-details-2-2.png" alt="nice like american interior of work zone").room-detail__image_right-bottom

    article.room-detail__info
      .room-detail__info_grid
        section.room-detail__about-room
          h2.room-detail__about-room_title Сведения о номере
          +icon-advantages([
            {
              img: "imgs/insert_emoticon.svg",
              alt: "icon smile",
              size: 40,
              title: "Комфорт",
              text: "Шумопоглащающие стены"
            },
            {
              img: "imgs/location_city.svg",
              alt: "icon building",
              size: 40,
              title: "Удобство",
              text: "Окно в каждой из спален"
            },
            {
              img: "imgs/whatshot.svg",
              alt: "icon flame",
              size: 40,
              title: "Уют",
              text: "Номер оснащен камином",
              borderStyle: "__without-border"
            }])

        section.room-detail__impressions
          //- +impressions({title: "Впечатления от номера", voiceNumber: 300, bulletListBuild:[
          //-   {color:"linear-gradient(0deg, #FFBA9C, #FFE39C)", impression: "Великолепно", margin: "-0.85rem", type:"color"},
          //-   {color:"linear-gradient(0deg, #66D2EA, #6FCF97)", impression: "Хорошо", margin: "-0.85rem", type:"color"},
          //-   {color:"linear-gradient(0deg, #8BA4F9, #BC9CFF)", impression: "Удовлетворительно", margin: "-0.9rem", type:"color"},
          //-   {color:"linear-gradient(0deg, rgba(61, 73, 117, 1), rgba(144, 144, 144, 1))", impression: "Разочарован", margin: "", type:"color"},
          //-   ]
          //- })
          +impressions({title: "Впечатления от номера", voiceNumber: 300, bulletListBuild:[
            {color:"excellent", impression: "Великолепно", margin: "low", type:"color"},
            {color:"good", impression: "Хорошо", margin: "low", type:"color"},
            {color:"satisfactorily", impression: "Удовлетворительно", margin: "big", type:"color"},
            {color:"badly", impression: "Разочарован", margin: "none", type:"color"},
            ]
          })
        section.room-detail__comments
          .room-detail__comments_title
            h2.room-detail__comments_title_h2 Отзывы посетителей номера
            span.room-detail__comments_title_span 2 отзыва
          .room-detail__comments_margin
            +comments("imgs/murad-true.png", "Мурад Сарафанов", "5 дней назад", "12", "checked", "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.")
          .room-detail__comments_margin
            +comments("imgs/girl image.png", "Патрисия Стёклышкова", "Неделю назад", "2", "", "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент")

        section.room-detail__rules
          h2.room-detail__rules_title Правила
          .room-detail__rules_bullet
            +bullet-list("background: rgba(31, 32, 65, 0.75)","Нельзя с питомцами", "", "grey")
            +bullet-list("background: rgba(31, 32, 65, 0.75)", "Без вечеринок и мероприятий", "-0.1rem", "grey")
            +bullet-list("background: rgba(31, 32, 65, 0.75)","Время прибытия — после 13:00, а выезд до 12:00", "", "grey")
        section.room-detail__cancel
          h2.room-detail__cancel_title Отмена
          p.room-detail__cancel_text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.

      section.room-detail__booking-room
        +booking-room