include ../../elements/form__name/form__name.pug
include ../../elements/button-pill__empty/button-pill__empty_short.pug
include ../../elements/button-pill__full_arrow/button-pill__full_arrow.pug

mixin sign-in
	.sing-in-card
		h2.sing-in-card-title Войти
		div.sing-in-card-1
			+form__name("email", "Email", "email-sign-in", "sign-in")
		div.sing-in-card-2
			+form__name("text", "Пароль", "password-sign-in", "sign-in")
		.sing-in-card-button
				+button-pill__full_arrow("Войти")
		.sing-in-card-sing-up
			p Нет аккаунта на Toxin?
			+button-pill__empty_short("Создать")