include ../../elements/form__name/form__name.pug
include ../../elements/button-pill__empty/button-pill__empty_short.pug
include ../../elements/button-pill__full_arrow/button-pill__full_arrow.pug

mixin sign-in
  article.sing-in
    header
      h2.sing-in__title Войти
    .sing-in__email
      +form__name("email", "Email", "email-sign-in", "sign-in")
    .sing-in__password
      +form__name("text", "Пароль", "password-sign-in", "sign-in")
    .sing-in__button-full
      +button-pill__full_arrow("Войти", "./search.html")
    .sing-in__create
      p.sing-in__question Нет аккаунта на Toxin?
      +button-pill__empty_short("Создать", "./registration-sign-up.html")