.pagination {
	width: 241px;
	display: inline-grid;
	grid-template-columns: 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem;
	grid-column-gap: 0rem;
	position: relative;
	left: -0.43rem;
	font-size: 0.75rem;

	&__grid-item {
		text-align: center;
		justify-content: center;
		height: 2.5rem;
		line-height: 2.5rem;
		color: $dark-shade-050;
	}

	&__first-number {
		background: linear-gradient(180deg, rgba(188, 156, 255, 1), rgba(139, 164, 249, 1));
		border-radius: 50%;
		color: white;
	}

	&__arrow {
		background: linear-gradient(180deg, #6FCF97, #66D2EA);
		border-radius: 50%;
		color: white;
	}


	&__description {
		margin-top: 0.62rem;
		font-size: 0.93rem;
		font-family: "Montserrat-Regular", Arial, sans-serif;
		letter-spacing: 0.03em;
		position: relative;
		left: -0.56rem;
	}

}