mixin pagination
  div.pagination
    span.pagination__grid-item.pagination__first-number 1
    span.pagination__grid-item 2
    span.pagination__grid-item 3
    span.pagination__grid-item ..
    span.pagination__grid-item 15
    span.pagination__grid-item.pagination__arrow.material-icons arrow_forward
  div.pagination__description 1 - 12 из 100+ вариантов аренды