.footer {
  &__menu {
    display: flex;
    width: auto;
    height: 17rem;
    padding-top: 6.4rem;
  }
  &__logo {
    display: grid;
    width: 19rem;
    grid-template-rows: 3.6rem auto auto;
    max-height: 13.43rem;
    color: rgba(31, 32, 65, 0.75);
    line-height: 1.5rem;
    position: relative;
    left: 8.75rem;

    &_text {
      letter-spacing: -0.005rem;
      font-size: 0.875rem;
      width: 16rem;
    }
  }

  &__navigation {
    display: grid;
    grid-template-rows: 2.25rem 2.37rem 2.37rem 2.37rem;
    width: 11rem;
    position: relative;
    left: 8.5rem;
    top: 0.25rem;
    font-size: 0.875rem;
  }

  &__about {
    display: grid;
    grid-template-rows: 2.25rem 2.37rem 2.37rem 2.37rem;
    grid-template-columns: 9.37rem;
    padding-top: 0.25rem;
    position: relative;
    left: 10rem;
    font-size: 0.875rem;
  }

  &__support {
    display: grid;
    grid-template-rows: 2.25rem 2.37rem 2.37rem 2.37rem;
    grid-template-columns: 9.37rem;
    padding-top: 0.25rem;
    position: relative;
    left: 13.2rem;
    font-size: 0.875rem;
  }

  &__subscription {
    display: grid;
    grid-template-rows: 2.25rem 4.45rem 2.5rem;
    line-height: 1.43rem;
    position: relative;
    top: 0.05rem;
    left: 16.3rem;
    width: 16rem;
    font-size: 0.875rem;

    &_text {
      letter-spacing: -0.01rem;
      line-height: 1.5rem;
    }
  }

  &__h3 {
    margin: 0;
    font-family: 'Montserrat-SemiBold', Arial, sans-serif;
  }

  &__social {
    display: flex;
    justify-content: space-between;
    width: 90rem;
    height: 4.37rem;
    align-items: center;
    font-size: 0.875rem;
    border-top: 0.06rem solid $dark-shade-020;
  }

  &__copyright {
    margin-left: 9.7%;
  }

  &__icons {
    margin-right: 9.7%;
    display: grid;
    grid-template-columns: 1.5rem 1.5rem 1.5rem;
    grid-column-gap: 1.25rem;
  }
}
