mixin icon-advantages
	div.icon-advantages
		img(src="imgs/insert_emoticon.svg" alt="Cinque Terre" width="40" height="40").icon-advantages__image
		div.icon-advantages__text
			h3.icon-advantages__text_h3 Комфорт
			div Шумопоглащающие стены
	div.icon-advantages
		img(src="imgs/location_city.svg" alt="Cinque Terre" width="40" height="40").icon-advantages__image
		div.icon-advantages__text
			h3.icon-advantages__text_h3 Удобство
			div Окно в каждой из спален
	div.icon-advantages.border-none
		img(src="imgs/whatshot.svg" alt="Cinque Terre" width="40" height="40").icon-advantages__image
		div.icon-advantages__text
			h3.icon-advantages__text_h3 Уют
			div Номер оснащен камином