.icon-advantages {
  display: grid;
  grid-template-columns: 3rem 15.62rem;
  border-bottom: 0.06rem solid $dark-shade-025;
  max-width: 18.75rem;
  margin-top: 0.93rem;
  padding-bottom: 1.25rem;
  padding-left: 0.31rem;

  &__without-border {
    display: grid;
    grid-template-columns: 3rem 15.62rem;
    max-width: 18.75rem;
    margin-top: 0.93rem;
    padding-bottom: 1.25rem;
    padding-left: 0.31rem;
  }

  &__image {
    margin-top: 0.65rem;
  }

  &__text {
    padding-left: 0.4rem;
    padding-top: 0.56rem;
    font-size: 0.87rem;
    line-height: 1.37rem;
  }

  &__title {
    margin-top: -0.06rem;
    padding-top: -0.12rem;
    letter-spacing: 0.01rem;
    font-family: 'Montserrat-SemiBold', Arial, sans-serif;
    text-transform: none;
    font-size: 0.88rem;
    margin-bottom: 0.2rem;
  }
}
