include ../../components/blocks/header/header.pug
include ../../components/blocks/footer/footer.pug

doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")

    <link rel="apple-touch-icon" sizes="114x114" href="./apple-touch-icon.png?v=47BkdQ2rQ8">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png?v=47BkdQ2rQ8">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png?v=47BkdQ2rQ8">
    <link rel="manifest" href="./site.webmanifest?v=47BkdQ2rQ8">
    <link rel="mask-icon" href="./safari-pinned-tab.svg?v=47BkdQ2rQ8" color="#5bbad5">
    <link rel="shortcut icon" href="./favicon.ico?v=47BkdQ2rQ8">

    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#74f82b">
    block meta-keywords
    block meta-description
    block page-name
  body.registration
    header.registration__header
      +header("ВОЙТИ", "ЗАРЕГИСТРИРОВАТЬСЯ")
    main.registration__basis
      article.registration___basis_image
        block registration-image
      article.registration__basis_sign-up
        block sing-up
      article.registration__basis_sign-in
        block sing-in
    footer.registration__footer
      +footer