.registration-page {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: auto;
	height: auto;
	background-color: white;
}

.registration-background-in {
	overflow: hidden;
	position: relative;
}
.registration-background-in img {
	position: relative;
	top: -1.43rem;
	left: 0rem;
	transform: scaleY(1.138);
	width: 90rem;
	height: 42.37rem;
}
.registration-background-up {
	overflow: hidden;
	position: relative;
}
.registration-background-up img {
	position: relative;
	top: -2.81rem;
	left: 0rem;
	transform: scaleY(1.07);
	width: 90rem;
	height: 45.12rem;
	margin-bottom: -1.56rem;
}
.registration-article-block {
	position: relative;
}
.registration-sign-up {
	position: absolute;
	z-index: 1;
	top: 1.87rem;
	left: 36.85%;
	background: white;
	border-radius: 0.25rem;
}
.registration-sign-in {
	position: absolute;
	z-index: 1;
	top: 10.18rem;
	left: 36.85%;
	background: white;
	border-radius: 0.25rem;
}
