extends ../registration__basis/registration__basis.pug

include ../../components/complexBlocks/sign-in/sign-in.pug

block meta-keywords
  meta(name="keywords" content="sign in")
block meta-description
  meta(name="description" content="Авторизуйтесьб исследовать варианты.")
block page-name
  title Sign in
block registration-image
  .registration__sign-in
    img(src="imgs/registration-background-image-interior.png" alt="clear asketic interior").registration__sign-in_image
block sing-in
  +sign-in