extends ../registration__basis/registration__basis.pug

include ../../components/blocks/sign-in/sign-in.pug

block meta-keywords
	meta(name="keywords" content="sign in")
block meta-description
	meta(name="description" content="Авторизуйтесьб исследовать варианты.")
block page-name
	title Sign in
block registration-image
	.registration__background-in
		img(src="imgs/registration-background-image-interior.png", alt="").registration__background-in_image
block sing-in
	+sign-in