.registration__background-in {
	overflow: hidden;
	position: relative;
}
.registration__background-in_image {
	position: relative;
	top: -1.43rem;
	left: 0rem;
	transform: scaleY(1.138);
	width: 90rem;
	height: 42.37rem;
}