@import '../../../styles/color.scss';

.header {
  display: flex;
  width: 90rem;
  height: 4.375rem;
  justify-content: space-between;

  &__link-image {
    width: 6.62rem;
    height: 2.5rem;
    margin: auto 0 auto 8.8rem;
  }

  &__menu {
    margin: auto 8.75rem auto 0;
    display: flex;
  }

  &__list {
    display: flex;
    margin-top: 1.25rem;
    font-size: 0.875rem;
    letter-spacing: -0.005rem;
  }

  &__point {
    padding-left: 1.2rem;
    list-style-type: none;
  }

  &__link,
  &__link_bold {
    text-decoration: none;
    color: $dark-shade-075;
    margin: 0;
    padding: 0;
    margin-right: 0.06rem;
  }

  &__link_bold {
    font-weight: bold;
  }

  &__icon {
    font-size: 1.5rem;
    position: relative;
    top: -0.06rem;
  }

  &__dropdown {
    display: inline-flex;
  }

  &__login {
    width: 5.43rem;
    height: 2.125rem;
    display: flex;
    align-items: center;
    margin-left: 1.3rem;
    margin-top: 0.75rem;
  }

  &__register {
    width: 12.25rem;
    height: 2.125rem;
    display: flex;
    align-items: center;
    margin-left: 1.2rem;
    margin-top: 0.75rem;
  }

  &__login_in {
    margin: auto;
    border-left: 0.06rem solid $dark-shade-010;
    padding-left: 1.875rem;
    margin-left: 1.875rem;
    color: $dark-shade-075;
  }
}
