@import '../../../styles/headers';

.pick-up-numbers {
  width: 23.75rem;
  height: 23.37rem;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 0.06rem solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0.06rem 0.06rem 1.56rem rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  padding-left: 1.83rem;

  &__title {
    @include header_h2(1.5rem, null);
    margin-top: 2.43rem;
    line-height: 1.9rem;
    width: 16.62rem;
    letter-spacing: 0.006rem;
  }

  &__container {
    position: relative;
    margin-top: 1.25rem;
  }

  &__arrival {
    @include header_h3(0.675rem, Montserrat-Bold);
    margin-top: 0.1rem;
    margin-bottom: 0.4rem;
    letter-spacing: 0.06rem;
  }

  &__departure {
    @include header_h3(0.675rem, Montserrat-Bold);
    position: absolute;
    right: 8.15rem;
    top: 0.1rem;
    letter-spacing: 0.07rem;
  }

  &__quest {
    @include header_h3(0.675rem, Montserrat-Bold);
    margin-top: 1.46rem;
    margin-bottom: 0.4rem;
    letter-spacing: 0.06rem;
  }

  &__dropdown {
    width: 20rem;
    height: 2.75rem;
  }

  &__button {
    margin-top: 1.9rem;
    width: 20rem;
    height: 2.75rem;
  }
}
