include ../../blocks/button/button.pug
include ../../blocks/iqdropdown/iqdropdown.pug
include ../../blocks/calendar/calendar.pug

mixin pick-up-numbers
  article.pick-up-numbers
    header.pick-up-numbers__header
      h2.pick-up-numbers__title Найдём номера под ваши пожелания
    form(action="./search.html").pick-up-numbers__form
      .pick-up-numbers__container
        h3.pick-up-numbers__arrival Прибытие
        h3.pick-up-numbers__departure Выезд
        .pick-up-numbers__calendar
          +calendar("ДД.ММ.ГГГГ", "ДД.ММ.ГГГГ", "#datepicker", "duble")
        h3.pick-up-numbers__quest Гости
        .pick-up-numbers__dropdown
          +iqdropdown({arr:["Взрослые", "Дети", "Младенцы"], classForJs:"js-iqdropdown_people"})
      .pick-up-numbers__button
        +button({
          text: "Подобрать номер",
          arrow: "enable",
          color: "purple"
        })
