.button-pill_full {
  background: linear-gradient(180deg, #BC9CFF, #8BA4F9);
  border: none;
  color: white;
	height: 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
	border-radius: 22px;
	font-size: 11px;
	letter-spacing: 0.8px;
	font-family: "Montserrat-SemiBold", Arial, sans-serif;
	padding: 0 19px;
	
}