.button-pill_full {
  background: linear-gradient(180deg, #BC9CFF, #8BA4F9);
  border: none;
  color: white;
	padding: auto;
	width: 119%;
	height: 34px;
	font-weight: 700;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 22px;
}