mixin pagination
  .pagination
    span.pagination__start 1
    span.pagination__grid-item 2
    span.pagination__grid-item 3
    span.pagination__grid-item ..
    span.pagination__grid-item 15
    span.material-icons.pagination__arrow arrow_forward
  .pagination__description 1 - 12 из 100+ вариантов аренды