doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title My app

	body
		main
			button#load1 нажми здесь!
			div#load2 просто текст
			a(href="#") ссылка на что-то очень  важное
			h1.test-webpack-loader Pug rules
			div.elf Здесь должны быть поля
			h2 Hello!
		div
			include /UI-kit/library/blocks/01-elements/fonts-list/fonts.pug
		include UI-kit/library/blocks/01-elements/colors-example/colors-example.pug
				//- +colors-example('Dark Shade 100%', '.dark-shade-100')
		+article('Dark Shade 100%', "#1F2041")(class="rectangle dark-shade-100")
		+article('Dark Shade 75%', "#1F2041")(class="rectangle dark-shade-075")
		+article('Dark Shade 50%', "#1F2041")(class="rectangle dark-shade-050")
		+article('Dark Shade 25%', "#1F2041")(class="rectangle dark-shade-025")
		+article('Dark Shade 5%', "#1F2041")(class="rectangle dark-shade-005")
		+article('Purple', "#BC9CFF")(class="rectangle purple")
		+article('Green', "#6FCF97")(class="rectangle green")

		include UI-kit/library/blocks/01-elements/text-field/text-field.pug
		+form-email("email", "Your email adress", "field name")(class="text-field-email")
		+form-date("date", "", "masked text field")(class="text-field-date")
		//- include UI-kit/library/blocks/01-elements/text-field/form-simple-mixin.pug
		//- +form-name("email","Email", "email", "sing-up-card-form")
		div
			include /UI-kit/library/blocks/01-elements/dropdown/dropdown-subparagraph.pug
			+dropdown-examples
			+dropdown-people
			+dropdown-room-comfort
		div
			include /UI-kit/library/blocks/01-elements/checkbox/checkbox-toggle.pug
			//- +toggle-checkbox("работает?")
		div
			include /UI-kit/library/blocks/01-elements/checkbox/checkbox-buttons.pug
			+checkbox-button_simple("Можно курить", "")
			+checkbox-button_simple("Можно с питомцами", checked)
			+checkbox-button_simple("Можно пригласить гостей (до 10 человек)", checked)
		div
			include /UI-kit/library/blocks/01-elements/checkbox/checkbox-radio.pug
			+radio-buttons
		div
			include /UI-kit/library/blocks/01-elements/rate-button/rate-button.pug
			+star-rating-fourth-checked("id1", "id2", "id3", "id4", "id5")
		div
			include /UI-kit/library/blocks/01-elements/buttons/button-pill_full.pug
			+button-pill_full("REGISTER")
		div
			include /UI-kit/library/blocks/01-elements/buttons/button-pill_empty.pug
			+button-pill_empty("REGISTER")
		div
			include /UI-kit/library/blocks/01-elements/buttons/button-text.pug
		div
			include /UI-kit/library/blocks/01-elements/buttons/button-pill_full-with-arrow.pug
		+button-fill-arrow("CLICK ME")
		div
			include /UI-kit/library/blocks/01-elements/like-buttons/like-buttons.pug
		div
			include /UI-kit/library/blocks/01-elements/text-field/text-field_calendar copy.pug
		div
			include /UI-kit/library/blocks/01-elements/range-slider/range-slider.pug
			+range-slider
		div
			include /UI-kit/library/blocks/01-elements/dropdown/dropdown-subparagraph.pug
		div
			include /UI-kit/library/blocks/01-elements/checkbox/checkbox-expendable.pug
			+checkbox-expendable
		div
			include /UI-kit/library/blocks/01-elements/pagination/pagination.pug
			+pagination
		div
			include /UI-kit/library/blocks/01-elements/checkbox-rich-buttons/rich-checkbox-button.pug
			+checkbox-rich
		div
			include /UI-kit/library/blocks/01-elements/bullet-list/bullet-list.pug
		div
			include /UI-kit/library/blocks/01-elements/icon-advantages/icon-advantages.pug
			+icon-advantages
		div
			include /UI-kit/library/blocks/01-elements/comments/comments.pug
			+comments("../../../../src/UI-kit/pic/murad-true.png", "Мурад Сарафанов", "5 дней назад", "12", "checked", "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.")
			+comments("../../../../src/UI-kit/pic/girl image.png", "Патрисия Стёклышкова", "Неделю назад", "2", "", "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент")
		div
			include /UI-kit/library/blocks/header/header.pug
			+header
		div
			include /UI-kit/library/blocks/header/header-login.pug
		div
			include /UI-kit/library/blocks/footer/footer.pug
			+footer
		div
			include /UI-kit/library/blocks/footer/footer-mobile.pug
		div
			include /UI-kit/library/blocks/pick-up-numbers/pick-up-numbers-card.pug
			//- +pick-up-numbers
		div
			include /UI-kit/library/blocks/sign-up/sign-up.pug
			+sign-up
		div
			include /UI-kit/library/blocks/sign-in/sign-in.pug
			+sign-in
		div
			include /UI-kit/library/blocks/booking/booking.pug
			+booking-room
		div
			include /UI-kit/library/blocks/hotel-room-card/hotel-room-card.pug
			+room-card("../../../src/UI-kit/pic/room2.png", "4", "888", "9900₽", "not lux")
			+room-card("../../../src/UI-kit/pic/room1.png", "5", "840", "9990₽", "lux")

		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
