doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title My app

	body
		main
			button#load1 нажми здесь!
			div#load2 просто текст
			a(href="#") ссылка на что-то очень  важное
			h1.test-webpack-loader Pug rules
			div.elf Здесь должны быть поля
			h2 Hello!
		div
			include /UI-kit/library/blocks/01-elements/fonts-list/fonts.pug
		include UI-kit/library/blocks/01-elements/colors-example/colors-example.pug
				//- +colors-example('Dark Shade 100%', '.dark-shade-100')
		+article('Dark Shade 100%', "#1F2041")(class="rectangle dark-shade-100")
		+article('Dark Shade 75%', "#1F2041")(class="rectangle dark-shade-075")
		+article('Dark Shade 50%', "#1F2041")(class="rectangle dark-shade-050")
		+article('Dark Shade 25%', "#1F2041")(class="rectangle dark-shade-025")
		+article('Dark Shade 5%', "#1F2041")(class="rectangle dark-shade-005")
		+article('Purple', "#BC9CFF")(class="rectangle purple")
		+article('Green', "#6FCF97")(class="rectangle green")

		include UI-kit/library/blocks/01-elements/text-field/text-field.pug
		+form-email("email", "Your email adress", "field name")(class="text-field-email")
		+form-date("date", "", "masked text field")(class="text-field-date")
		div
			include /UI-kit/library/blocks/01-elements/dropdown/dropdown-subparagraph.pug
		div
			include /UI-kit/library/blocks/01-elements/checkbox/checkbox-toggle.pug
		div
			include /UI-kit/library/blocks/01-elements/checkbox/checkbox-buttons.pug
		div
			include /UI-kit/library/blocks/01-elements/checkbox/checkbox-radio.pug
		div
			include /UI-kit/library/blocks/01-elements/rate-button/rate-button.pug
		div
			include /UI-kit/library/blocks/01-elements/buttons/button-pill_full.pug
			+button-pill_full("REGISTER")
		div
			include /UI-kit/library/blocks/01-elements/buttons/button-pill_empty.pug
			+button-pill_empty("REGISTER")
		div
			include /UI-kit/library/blocks/01-elements/buttons/button-text.pug
		div
			include /UI-kit/library/blocks/01-elements/buttons/button-pill_full-with-arrow.pug
		div
			include /UI-kit/library/blocks/01-elements/like-buttons/like-buttons.pug
		div
			include /UI-kit/library/blocks/01-elements/text-field/text-field_calendar copy.pug
		div
			include /UI-kit/library/blocks/01-elements/range-slider/range-slider.pug
		div
			include /UI-kit/library/blocks/01-elements/dropdown/dropdown-subparagraph.pug
		div
			include /UI-kit/library/blocks/01-elements/checkbox/checkbox-expendable.pug
		div
			include /UI-kit/library/blocks/01-elements/pagination/pagination.pug
		div
			include /UI-kit/library/blocks/01-elements/checkbox-rich-buttons/rich-checkbox-button.pug
		div
			include /UI-kit/library/blocks/01-elements/bullet-list/bullet-list.pug
		div
			include /UI-kit/library/blocks/01-elements/icon-advantages/icon-advantages.pug
		div
			include /UI-kit/library/blocks/01-elements/comments/comments.pug
		div
			include /UI-kit/library/blocks/header/header.pug
		div
			include /UI-kit/library/blocks/header/header-login.pug
		div
			include /UI-kit/library/blocks/footer/footer.pug
		div
			include /UI-kit/library/blocks/footer/footer-mobile.pug
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
