doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		//- link(rel="stylesheet" href="style.scss")

		title My app

	body
		main
			h1.test-webpack-loader Pug rules
			div.elf Здесь должны быть поля
			h2 Hello!
		div
			include include.pug