doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title My app

  body
    main
      button#load1 нажми здесь!
      div#load2 просто текст
      a(href="./aaa.html") ссылка на что-то очень  важное
      h1.test-webpack-loader Pug rules
      div.elf Здесь должны быть поля
      h2 Hello!
    div
      include ./components/elements/fonts-list/fonts-list.pug
      +fonts-list
    include ./components/elements/color-example/color-example.pug

    +color-example("Dark Shade 100%", "#1F2041", "__dark-shade-100")
    +color-example("Dark Shade 75%", "#1F2041", "__dark-shade-075")
    +color-example("Dark Shade 50%", "#1F2041", "__dark-shade-050")
    +color-example("Dark Shade 25%", "#1F2041", "__dark-shade-025")
    +color-example("Dark Shade 5%", "#1F2041", "__dark-shade-005")
    +color-example("Purple", "#BC9CFF", "__purple")
    +color-example("Green", "#6FCF97", "__green")

    include ./components/elements/form__email/form__email.pug
    +form__email("email", "Your email adress", "field name")
    include ./components/elements/form__date/form__date.pug
    +form__date("date", "masked text field")
    include ./components/elements/form__name/form__name.pug
    +form__name("email","Email", "email-sign-in", "sign-in")
    +form__name("email","Email", "email-sign-up", "sign-up")
    div
      include ./vendor/dropdown/dropdown-subparagraph.pug
      +dropdown-examples
      +dropdown-people
      +dropdown-room-comfort
    div
      include ./components/elements/checkbox-toggle/checkbox-toggle.pug
      +checkbox-toggle("Получать спецпредложения")
    div
      include ./components/elements/checkbox-button/checkbox-button.pug
      +checkbox-button("Можно курить", "")
      +checkbox-button("Можно с питомцами", checked)
      +checkbox-button("Можно пригласить гостей (до 10 человек)", checked)
    div
      include ./components/elements/checkbox-radio/checkbox-radio.pug
      +checkbox-radio(["Мужчина","Женщина"])
    div
      include ./components/elements/star-rating/star-rating.pug
      +star-rating(3)
      +star-rating(1)
      +star-rating(2)
      +star-rating(5)
    div
      include ./components/elements/button-pill__full/button-pill__full.pug
      +button-pill__full("REGISTER")
    div
      include ./components/elements/button-pill__empty/button-pill__empty.pug
      +button-pill__empty("REGISTER")
    div
      include ./components/elements/button-text/button-text.pug
      +button-text("text")
    div
      include ./components/elements/button-pill__full_arrow/button-pill__full_arrow.pug
    +button-pill__full_arrow("CLICK ME")
    div
      include ./components/elements/like-button/like-button.pug
      +like-button({value: 11})
    div
      include ./components/elements/calendar/calendar.pug
      +calendar("19.08.2019", "23.08.2019", "#datepicker", "duble")
    div
      include ./vendor/range-slider/range-slider.pug
      +range-slider
    div
      include ./vendor/dropdown/dropdown-subparagraph.pug
      +dropdown-examples
      +dropdown-people
      +dropdown-room-comfort
    div
      include ./components/elements/checkbox-expendable/checkbox-expendable.pug
      +checkbox-expendable({title: "Дополнительные удобства", textsAndChecked: {
        "Завтрак": "checked",
        "Письменный стол": "checked",
        "Стул для кормления": "unchecked",
        "Кроватка": "unchecked"
      }})
    div
      include ./components/elements/pagination/pagination.pug
      +pagination
    div
      include ./components/elements/checkbox-rich/checkbox-rich.pug
      +checkbox-rich({titlesAndChecked: {
        "Широкий коридор": unchecked,
        "Помощник для инвалидов": unchecked
      }, texts: ["Ширина коридоров в номере не менее 91см",
      "На 1 этаже вас встретит специалист и проводит до номера"
      ]})
    div
      include ./components/elements/bullet-list/bullet-list.pug
      +bullet-list("bullet list", "grey" ,"Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, выезд до 12:00")
    div
      include ./components/elements/icon-advantages/icon-advantages.pug
      +icon-advantages([
        {
          img: "imgs/insert_emoticon.svg",
          alt: "icon smile",
          size: 40,
          title: "Комфорт",
          text: "Шумопоглащающие стены"
        },
        {
          img: "imgs/location_city.svg",
          alt: "icon building",
          size: 40,
          title: "Удобство",
          text: "Окно в каждой из спален"
        },
        {
          img: "imgs/whatshot.svg",
          alt: "icon flame",
          size: 40,
          title: "Уют",
          text: "Номер оснащен камином",
          borderStyle: "__without-border"
        }])
    div
      include ./components/elements/comments/comments.pug
      +comments("./assets/images/murad-true.png", "Мурад Сарафанов", "5 дней назад", "12", "checked", "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.")
      +comments("./assets/images/girl image.png", "Патрисия Стёклышкова", "Неделю назад", "2", "", "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент")
    div
      include ./components/blocks/header/header.pug
      +header
    div
      include ./components/blocks/header/header__login.pug
      +header__login
    div
      include ./components/blocks/footer/footer.pug
      +footer
    div
      include ./components/blocks/footer/footer-mobile.pug
      +footer-mobile
    div
      include ./components/blocks/pick-up-numbers/pick-up-numbers.pug
      +pick-up-numbers
    div
      include ./components/blocks/sign-up/sign-up.pug
      +sign-up
    div
      include ./components/blocks/sign-in/sign-in.pug
      +sign-in
    div
      include ./components/blocks/booking/booking.pug
      +booking-room
    div
      include ./components/blocks/hotel-room-card/hotel-room-card.pug
      +hotel-room-card("./assets/images/room-2.png", "4", "888", "9900₽", "not lux")
      +hotel-room-card("./assets/images/room-1.png", "5", "840", "9990₽", "lux")