mixin icon-advantages
	div.icon-advantages
		img(src="../../../../src/UI-kit/pic/insert_emoticon.svg" alt="Cinque Terre" width="40" height="40")
		div
			h3 Комфорт
			div Шумопоглащающие стены
	div.icon-advantages
		img(src="../../../../src/UI-kit/pic/location_city.svg" alt="Cinque Terre" width="40" height="40")
		div
			h3 Удобство
			div Окно в каждой из спален
	div.icon-advantages.border-none
		img(src="../../../../src/UI-kit/pic/whatshot.svg" alt="Cinque Terre" width="40" height="40")
		div
			h3 Уют
			div Номер оснащен камином