div.icon-advantages
	img(src="../../../../src/UI-kit/pic/insert_emoticon.svg" alt="Cinque Terre" width="48" height="48")
	div
		h3 комфорт
		div Шумопоглащающие стены
div.icon-advantages
	img(src="../../../../src/UI-kit/pic/location_city.svg" alt="Cinque Terre" width="48" height="48")
	div
		h3 комфорт
		div Шумопоглащающие стены