.pagination-circle {
  &__solid {
    width: 0.31rem;
    height: 0.31rem;
    border: 0.06rem solid white;
    border-radius: 50%;
    z-index: 1;
    margin-left: 0.25rem;
    background: white;
  }

  &__empty {
    width: 0.31rem;
    height: 0.31rem;
    border: 0.06rem solid white;
    border-radius: 50%;
    z-index: 1;
    margin-left: 0.25rem;
  }
}
