mixin form__email(typeOne, description, fieldsName)
  form(action="")
    legend
      h3= fieldsName
      .form__email
        input(type=typeOne, value=description).form__email_border&attributes(attributes)
        input(type="submit" class="material-icons form__email_arrow-forward" value="arrow_forward")