.rating {
  transform: rotateY(180deg);
  display: flex;
  position: relative;

  &__star_filled:before {
    display: block;
    cursor: pointer;
    width: 1.5rem;
    position: relative;
    font-family: 'Material Icons';
    content: 'star';
    font-size: 1.5rem;
    color: #a0a0fb;
    top: 0;
    z-index: 1;
  }

  &__star_empty:before {
    display: block;
    cursor: pointer;
    width: 1.5rem;
    position: relative;
    font-family: 'Material Icons';
    content: 'star_border';
    font-size: 1.5rem;
    color: #a0a0fb;
  }
}
