@import '../../../styles/color.scss';

.form__email {
  height: 2.875rem;

  &_border {
    border: 0.06rem solid $dark-shade-025;
    border-radius: 0.375rem;
    width: 15.31rem;
    margin-left: -0.125rem;
    margin-top: -0.125rem;
    height: 2.5rem;
    padding-left: 0.81rem;
  }

  &_arrow-forward {
    color: $purple;
    position: relative;
    left: 14rem;
    top: -2.15rem;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
  }
}
