@import '../../../01_colors_&_fonts/color.scss';

.calendar {
  display: flex;
  justify-content: left;
  height: 2.625rem;
  padding: 0rem;
  margin-top: 0.4rem;
  margin-left: 0.1rem;

  &__datepicker {
    opacity: 0;
    position: absolute;
    margin: 0;
    margin-top: 2rem;
  }

  &__arrival-date {
    width: 9.25rem;
    height: 2.62rem;
    border: 0.06rem solid $dark-shade-025;
    border-radius: 0.25rem;
    position: relative;
    margin: 0;
  }

  &__departure-date {
    width: 9.25rem;
    height: 2.62rem;
    border: 0.06rem solid $dark-shade-025;
    border-radius: 0.25rem;
    position: relative;
    margin: 0 0 0 1.2rem;
  }

  &__icon {
    position: absolute;
    top: 0.56rem;
    left: 14.56rem;
    &_double {
      top: 0.56rem;
      right: 0.56rem;
      position: absolute;
    }
    &_for-birthday {
      position: absolute;
    }
  }

  &__date {
    position: relative;
    margin-top: 0.8rem;
    margin-left: 0.9rem;
    color: $dark-shade-075;
    font-size: 0.87rem;
    font-family: 'Montserrat-Medium', Arial, sans-serif;
  }

  &__single {
    position: relative;
    margin-top: 0.25rem;
  }

  &__single-field {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    top: 2rem;
    left: -0.31rem;
  }

  &__range {
    width: 16.5rem‼;
    height: 2.625rem;
    border-radius: 0.25rem;
    border: 0.06rem solid $dark-shade-010;
  }
  &__birthday {
    width: 18.75rem;
    height: 2.5rem;
    margin-top: 0.3rem;
    border-radius: 0.25rem;
    border: 0.06rem solid $dark-shade-025;
    padding-left: 1rem;
    letter-spacing: 0.05rem;
    color: rgba(31, 32, 65, 0.75);
    font-size: 0.87rem;
    font-family: 'Montserrat-Medium', Arial, sans-serif;
  }
}
