.hotel-room {
	width: 16.87rem;
	height: 16.06rem;
	background: #FFFFFF;
	box-shadow: 0rem 0.62rem 1.25rem rgba(31, 32, 65, 0.05);
	border-radius: 0.25rem;
	position: relative;

	&__img {
		border-top-left-radius: 0.25rem;
		border-top-right-radius: 0.25rem;
		cursor: pointer;
		width: 16.87rem;
		height: 9.5rem;
	}

	&__circles_block {
		display: flex;
		position: absolute;
		top: 8.06rem;
		right: 1rem;
		cursor: pointer;
	}

	&__circle_point {
		width: 0.31rem;
		height: 0.31rem;
		border:  0.06rem solid white;
		border-radius: 50%;
		z-index: 1;
		margin-left: 0.25rem;
	}

	&__text {
		display: flex;
		justify-content: space-between;
		margin-top: 1.25rem;
		margin-left: 3%;
		margin-right: 3%;
		font-size: 0.875rem;
		position: relative;
	}

	&__number,
	&__cost {
		display: flex;
		align-items: flex-end;
		height: 1rem;
	}

	&__number_symbol {
		font-size: 0.875rem;
		margin-left: 0.75rem;
		font-family: "Quicksand-Medium", Arial, sans-serif;
		position: absolute;
		top: 0.125rem;
		left: 0rem;
	}

	&__number_number {
		margin-left: 0.18rem;
		font-size: 1.12rem;
		line-height: 0;
		position: absolute;
		top: 0.56rem;
		left: 1.93rem;
		letter-spacing: 0.03em;
		font-family: "Quicksand-Bold", Arial, sans-serif;
	}

	&__number_lux {
		color: $purple;
		position: absolute;
		top: 0.18rem;
		left: 4.5rem;
	}

	&__cost_price {
		top: -0.87rem;
		color: $dark-shade-050;
		position: absolute;
		right: 3.56rem;
		font-family: "Montserrat-SemiBold", Arial, sans-serif;
	}

	&__cost_per-day {
		color: $dark-shade-050;
		position: absolute;
		right: 0.68rem;
		top: 0.06rem;
		letter-spacing: -0.09em;
		font-size: 0.81rem;
	}

	&__raiting {
		display: flex;
		justify-content: space-between;
		margin: 0.75rem 3% 0 8%;
		padding-top: 0.625rem;
		border-top: 0.06rem solid $dark-shade-025;
		position: relative;
	}

	&__review {
		display: grid;
		grid-template-columns: 1.68rem auto;
		font-size: 0.875rem;
		align-items: baseline;
		color: $dark-shade-050;
		position: absolute;
		right: 0.68rem;
		top: 0.81rem;
	}

	&__review_number {
		font-size: 0.875rem;
		font-family: "Montserrat-Bold", Arial, sans-serif;
		margin-right: 0.19rem;
		text-align: end;
	}
}